# Dummy Data Generate Script

# Create Engine,Base & Session Function

In [1]:
from sqlalchemy import create_engine, Column, Integer, String, Numeric, Date, DateTime, ForeignKey, Text
from sqlalchemy.orm import declarative_base, sessionmaker
import random
from datetime import datetime,timedelta
from faker import Faker

fake = Faker('en_IN')

# Setup engine and session
engine = create_engine("postgresql+psycopg2://postgres:pgadmin4@localhost:5432/Retail-shop_Analysis_Project", echo=True)
Session_Local = sessionmaker(bind=engine)

def get_session():
    return Session_Local()

Base = declarative_base()

# Customers Schmea & Tables

In [15]:

# Customers
class Customer(Base):
    __tablename__ = 'customers'
    __table_args__ = {'schema': 'customers','extend_existing': True}

    customer_id = Column(Integer, primary_key=True)
    customer_name = Column(String(100))
    email = Column(String(100))          
    phone = Column(String(20))            
    signup_date = Column(Date)           

# Addresses
class Address(Base):
    __tablename__= 'addresses'
    __table_args__= {'schema': 'customers','extend_existing': True}

    address_id = Column(Integer, primary_key= True)
    customer_id = Column(Integer)
    street = Column(String(150))
    city = Column(String(50))
    state = Column(String(50))
    zipcode = Column(String(10))
    country = Column(String(50))
    
#Preferences
class Preference(Base):
    __tablename__= 'preferences'
    __table_args__= {'schema':'customers','extend_existing':True}

    preference_id= Column(Integer, primary_key=True)
    customer_id= Column(Integer)
    preference_key= Column(String(50))
    preference_value= Column(String(100))

#Loyalty_Points
class Loyalty_point(Base):
    __tablename__='loyalty_points'
    __table_args__={'schema':'customers','extend_existing':True}

    loyalty_id= Column(Integer, primary_key= True)
    customer_id= Column(Integer)
    points= Column(Integer)
    last_updated= Column(DateTime)

#Feedback
class Feedback(Base):
    __tablename__= 'feedback'
    __table_args__= {'schema':'customers','extend_existing':True}

    feedback_id= Column(Integer, primary_key= True)
    customer_id= Column(Integer)
    feedback_date= Column(Date)
    feedback_text= Column(String(200))
    rating= Column(Integer)

#---------------------------------------------INSERTION PROCESS---------------------------------------------------------
# Customer Insert
from sqlalchemy.exc import IntegrityError

def insert_customers_data(n):
    fake = Faker()
    session = get_session()
    
    # Get emails already in DB
    used_emails = set(email[0] for email in session.query(Customer.email).all())

    # Formated Phone Number
    def generate_indian_mobile():
        start = str(fake.random_element(elements=[6, 7, 8, 9]))
        return start + fake.numerify('#########') 
    
    customers = []
    count = 0
    while count < n:
        email = fake.email()
        if email in used_emails:
            continue
        used_emails.add(email)

        customer = Customer(
            customer_name=fake.name(),
            email=email,
            phone= generate_indian_mobile(),
            signup_date=fake.date_between(start_date='-2y', end_date='today')
        )
        customers.append(customer)
        count += 1

    try:
        session.add_all(customers)
        session.commit()
        print(f"✅ {n} unique customers inserted successfully.")
    except IntegrityError as e:
        session.rollback()
        print(" IntegrityError:", e)
    finally:
        session.close()

# Addresses Insert
def insert_addresses_data(n):
    session = get_session()
    customer_ids = [c.customer_id for c in session.query(Customer).all()]
    
    address_list= []
    for _ in range(n):
        address = Address(
            customer_id = random.choice(customer_ids),
            street = fake.street_address(),
            city = fake.city(),
            state = fake.state(),
            zipcode = fake.postcode(),
            country = "india"
        )
        address_list.append(address)

    session.add_all(address_list)
    session.commit()
    session.close()

    print(f"✅{n} fake Address data inserted successfully.")

# Preferences Insert
PREFERENCES = {
    'preferred_category': ['Snacks', 'Beverages', 'Dairy', 'Frozen Foods', 'Fruits'],
    'preferred_brand': ['Amul', 'Nestle', 'Britannia', 'Parle'],
    'preferred_payment_mode': ['UPI', 'Cash', 'Credit Card', 'Net Banking'],
    'receives_offers': ['true', 'false'],
    'delivery_option': ['home_delivery', 'store_pickup'],
    'shopping_frequency': ['daily', 'weekly', 'monthly'],
    'language': ['English', 'Hindi', 'Gujarati'],
    'budget_range': ['500-1000', '1000-2000', '2000-5000'],
}

def insert_preferences_data(n):
    session = get_session()
    customer_ids = [c.customer_id for c in session.query(Customer).all()]
    
    preference_list = []
    for _ in range(n):
        customer_id = random.choice(customer_ids)
        selected_keys = random.sample(list(PREFERENCES.keys()), k=1)
        
        for key in selected_keys:
            preference = Preference(
                customer_id=customer_id,
                preference_key=key,
                preference_value=random.choice(PREFERENCES[key])
            )
            preference_list.append(preference)
    
    session.add_all(preference_list)
    session.commit()
    session.close()

    print(f"✅ {n} customers' preferences inserted successfully.")

#Loyalty_Points Insert
def insert_loyalty_points_data(n):
    session= get_session()
    customer_ids = [c.customer_id for c in session.query(Customer).all()]
    
    loyalty_list=[]
    for _ in range(n):
        loyalty = Loyalty_point(
            customer_id=random.choice(customer_ids),
            points= random.randint(1, 1000),
            last_updated= datetime.now()
    )
        loyalty_list.append(loyalty)
    
    session.add_all(loyalty_list)
    session.commit()
    session.close()
    
    print(f"✅ {n} customers' Loyalty_points inserted successfully.")

#Feedback Insert
def insert_feedback_data(n):
    session=get_session()
    customer_ids = [c.customer_id for c in session.query(Customer).all()]
    feedback_list= []
    for _ in range(n):
        feedback = Feedback(
            customer_id= random.choice(customer_ids),
            feedback_date= fake.date_between(start_date='-2y', end_date='today'),
            feedback_text= fake.text(max_nb_chars=20),
            rating= random.randint(1,5)
        )
        feedback_list.append(feedback)
    
    session.add_all(feedback_list)
    session.commit()
    session.close()

    print(f"✅ {n} customers' Feedback inserted successfully.")




# Call the function
insert_customers_data(3000)
insert_addresses_data(3000)
insert_preferences_data(4000)
insert_loyalty_points_data(3000)
insert_feedback_data(1000)

2025-08-10 21:53:07,886 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-10 21:53:07,893 INFO sqlalchemy.engine.Engine SELECT customers.customers.email AS customers_customers_email
FROM customers.customers
2025-08-10 21:53:07,894 INFO sqlalchemy.engine.Engine [generated in 0.00134s] {}
2025-08-10 21:53:09,206 INFO sqlalchemy.engine.Engine INSERT INTO customers.customers (customer_name, email, phone, signup_date) SELECT p0::VARCHAR, p1::VARCHAR, p2::VARCHAR, p3::DATE FROM (VALUES (%(customer_name__0)s, %(email__0)s, %(phone__0)s, %(signup_date__0)s, 0), (%(customer_name__1)s, %(email__ ... 84396 characters truncated ... counter RETURNING customers.customers.customer_id, customers.customers.customer_id AS customer_id__1
2025-08-10 21:53:09,207 INFO sqlalchemy.engine.Engine [generated in 0.01116s (insertmanyvalues) 1/3 (ordered)] {'customer_name__0': 'Brian Brown', 'signup_date__0': datetime.date(2024, 9, 26), 'email__0': 'michaelturner@example.org', 'phone__0': '7709306944', 'customer_name__1': 'Kristin Martin', 'signup_date__1': datetime.date(2025, 8, 3), 'email__1': 'hayesfrank@example.net', 'phone__1': '8336513268', 'customer_name__2': 'Joshua Whitaker', 'signup_date__2': datetime.date(2024, 4, 14), 'email__2': 'littleamy@example.net', 'phone__2': '7772549861', 'customer_name__3': 'Lindsay Macias', 'signup_date__3': datetime.date(2024, 4, 6), 'email__3': 'vsantos@example.org', 'phone__3': '6348025825', 'customer_name__4': 'John Davis', 'signup_date__4': datetime.date(2025, 6, 11), 'email__4': 'burtonmarcus@example.org', 'phone__4': '6964699698', 'customer_name__5': 'Sean Miller', 'signup_date__5': datetime.date(2025, 4, 5), 'email__5': 'tanyagriffin@example.net', 'phone__5': '9920143955', 'customer_name__6': 'Michelle Brady', 'signup_date__6': datetime.date(2025, 1, 20), 'email__6': 'jrobinson@example.net', 'phone__6': '7644844551', 'customer_name__7': 'Joe Allen', 'signup_date__7': datetime.date(2024, 12, 9), 'email__7': 'vgomez@example.org', 'phone__7': '6700964866', 'customer_name__8': 'Alicia Hall', 'signup_date__8': datetime.date(2024, 8, 29), 'email__8': 'melissaevans@example.net', 'phone__8': '8896478413', 'customer_name__9': 'Kenneth Jensen', 'signup_date__9': datetime.date(2024, 12, 19), 'email__9': 'olsensheila@example.com', 'phone__9': '6996895890', 'customer_name__10': 'Carolyn Obrien', 'signup_date__10': datetime.date(2023, 8, 30), 'email__10': 'melanie39@example.net', 'phone__10': '8545386130', 'customer_name__11': 'Catherine Ellis', 'signup_date__11': datetime.date(2024, 5, 3), 'email__11': 'adamserika@example.org', 'phone__11': '7875408416', 'customer_name__12': 'Mitchell Whitaker', 'signup_date__12': datetime.date(2024, 10, 2) ... 3900 parameters truncated ... 'email__987': 'sblackwell@example.net', 'phone__987': '6235865374', 'customer_name__988': 'Scott Diaz', 'signup_date__988': datetime.date(2024, 5, 20), 'email__988': 'zwagner@example.com', 'phone__988': '7467435744', 'customer_name__989': 'Amy Powers', 'signup_date__989': datetime.date(2025, 5, 25), 'email__989': 'lallen@example.net', 'phone__989': '9625131274', 'customer_name__990': 'Elizabeth Turner', 'signup_date__990': datetime.date(2024, 7, 4), 'email__990': 'donnahopkins@example.net', 'phone__990': '6874479818', 'customer_name__991': 'James Henson', 'signup_date__991': datetime.date(2023, 11, 29), 'email__991': 'hallcandace@example.com', 'phone__991': '6521708091', 'customer_name__992': 'Scott Cole', 'signup_date__992': datetime.date(2023, 10, 6), 'email__992': 'bauerrebecca@example.com', 'phone__992': '8422803858', 'customer_name__993': 'Tiffany Kelly', 'signup_date__993': datetime.date(2023, 11, 3), 'email__993': 'dcarpenter@example.org', 'phone__993': '7028813662', 'customer_name__994': 'Tracy Mcdonald', 'signup_date__994': datetime.date(2024, 9, 13), 'email__994': 'andrew96@example.com', 'phone__994': '9310861537', 'customer_name__995': 'Ryan Medina', 'signup_date__995': datetime.date(2025, 8, 9), 'email__995': 'mike18@example.org', 'phone__995': '9318031191', 'customer_name__996': 'Christine Schroeder', 'signup_date__996': datetime.date(2023, 9, 20), 'email__996': 'powelljennifer@example.org', 'phone__996': '6183857678', 'customer_name__997': 'Patricia Guzman', 'signup_date__997': datetime.date(2023, 11, 30), 'email__997': 'dlopez@example.org', 'phone__997': '8010171082', 'customer_name__998': 'Jeffrey Chen', 'signup_date__998': datetime.date(2024, 7, 7), 'email__998': 'hilleric@example.net', 'phone__998': '6311503885', 'customer_name__999': 'Kimberly Foster', 'signup_date__999': datetime.date(2025, 1, 25), 'email__999': 'santanapaul@example.net', 'phone__999': '7702291341'}
2025-08-10 21:53:09,266 INFO sqlalchemy.engine.Engine INSERT INTO customers.customers (customer_name, email, phone, signup_date) SELECT p0::VARCHAR, p1::VARCHAR, p2::VARCHAR, p3::DATE FROM (VALUES (%(customer_name__0)s, %(email__0)s, %(phone__0)s, %(signup_date__0)s, 0), (%(customer_name__1)s, %(email__ ... 84396 characters truncated ... counter RETURNING customers.customers.customer_id, customers.customers.customer_id AS customer_id__1
2025-08-10 21:53:09,267 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered)] {'customer_name__0': 'Michael Williams', 'signup_date__0': datetime.date(2024, 12, 1), 'email__0': 'thomasrachel@example.com', 'phone__0': '8389336890', 'customer_name__1': 'Alexis Price', 'signup_date__1': datetime.date(2023, 10, 11), 'email__1': 'osbornerachel@example.com', 'phone__1': '8805414833', 'customer_name__2': 'George Marshall', 'signup_date__2': datetime.date(2023, 9, 23), 'email__2': 'renee08@example.net', 'phone__2': '9482013321', 'customer_name__3': 'Jessica Huber', 'signup_date__3': datetime.date(2024, 7, 2), 'email__3': 'evelyn48@example.com', 'phone__3': '7172839379', 'customer_name__4': 'Rachel Morgan', 'signup_date__4': datetime.date(2024, 1, 13), 'email__4': 'phillip70@example.net', 'phone__4': '6454916457', 'customer_name__5': 'Ivan Morgan', 'signup_date__5': datetime.date(2025, 2, 15), 'email__5': 'robertwright@example.org', 'phone__5': '9171718357', 'customer_name__6': 'Ashley Fuentes', 'signup_date__6': datetime.date(2024, 7, 5), 'email__6': 'vasquezdylan@example.org', 'phone__6': '9756377846', 'customer_name__7': 'Jason Bishop', 'signup_date__7': datetime.date(2025, 7, 17), 'email__7': 'wilsonamy@example.org', 'phone__7': '7805303970', 'customer_name__8': 'Tracy Kelly', 'signup_date__8': datetime.date(2024, 8, 29), 'email__8': 'walter81@example.org', 'phone__8': '6453821654', 'customer_name__9': 'David Smith', 'signup_date__9': datetime.date(2024, 12, 27), 'email__9': 'torrespaul@example.net', 'phone__9': '8421708617', 'customer_name__10': 'John Larson', 'signup_date__10': datetime.date(2024, 6, 7), 'email__10': 'riceralph@example.com', 'phone__10': '6599266006', 'customer_name__11': 'Sara Todd', 'signup_date__11': datetime.date(2025, 5, 10), 'email__11': 'moorepatricia@example.net', 'phone__11': '8087810683', 'customer_name__12': 'Ryan Cox', 'signup_date__12': datetime.date(2023, 8, 26) ... 3900 parameters truncated ... 'email__987': 'natalie29@example.com', 'phone__987': '7730189254', 'customer_name__988': 'Kathy Avery', 'signup_date__988': datetime.date(2024, 10, 23), 'email__988': 'fgeorge@example.com', 'phone__988': '9397418489', 'customer_name__989': 'Matthew Griffin', 'signup_date__989': datetime.date(2024, 1, 19), 'email__989': 'hking@example.org', 'phone__989': '8972636050', 'customer_name__990': 'Matthew Singleton', 'signup_date__990': datetime.date(2024, 8, 16), 'email__990': 'kathleenrogers@example.org', 'phone__990': '8106745866', 'customer_name__991': 'Keith Bennett', 'signup_date__991': datetime.date(2023, 8, 30), 'email__991': 'margaret49@example.net', 'phone__991': '8556808356', 'customer_name__992': 'Christopher Aguilar', 'signup_date__992': datetime.date(2024, 10, 8), 'email__992': 'jonathan49@example.com', 'phone__992': '7573395437', 'customer_name__993': 'Matthew Gill', 'signup_date__993': datetime.date(2023, 12, 20), 'email__993': 'tiffany62@example.org', 'phone__993': '7295124922', 'customer_name__994': 'Johnathan Huber', 'signup_date__994': datetime.date(2024, 3, 20), 'email__994': 'robert18@example.com', 'phone__994': '7473420205', 'customer_name__995': 'Donna Patel', 'signup_date__995': datetime.date(2024, 6, 6), 'email__995': 'amandajackson@example.net', 'phone__995': '8120443488', 'customer_name__996': 'Linda Green', 'signup_date__996': datetime.date(2024, 10, 20), 'email__996': 'dmcdonald@example.com', 'phone__996': '6372750849', 'customer_name__997': 'Mark Brooks', 'signup_date__997': datetime.date(2024, 8, 12), 'email__997': 'caseyarmstrong@example.com', 'phone__997': '9698715549', 'customer_name__998': 'Tiffany Hall', 'signup_date__998': datetime.date(2024, 10, 25), 'email__998': 'billywalker@example.com', 'phone__998': '6570592762', 'customer_name__999': 'Katie Martinez', 'signup_date__999': datetime.date(2024, 11, 15), 'email__999': 'stewartjonathan@example.org', 'phone__999': '7121766970'}
2025-08-10 21:53:09,333 INFO sqlalchemy.engine.Engine INSERT INTO customers.customers (customer_name, email, phone, signup_date) SELECT p0::VARCHAR, p1::VARCHAR, p2::VARCHAR, p3::DATE FROM (VALUES (%(customer_name__0)s, %(email__0)s, %(phone__0)s, %(signup_date__0)s, 0), (%(customer_name__1)s, %(email__ ... 84396 characters truncated ... counter RETURNING customers.customers.customer_id, customers.customers.customer_id AS customer_id__1
2025-08-10 21:53:09,335 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered)] {'customer_name__0': 'Rachel Cook', 'signup_date__0': datetime.date(2024, 7, 11), 'email__0': 'lalexander@example.net', 'phone__0': '6185955229', 'customer_name__1': 'Ellen Morris', 'signup_date__1': datetime.date(2023, 9, 11), 'email__1': 'kgarcia@example.com', 'phone__1': '6574187126', 'customer_name__2': 'Gerald Vargas', 'signup_date__2': datetime.date(2025, 1, 4), 'email__2': 'allisoncarlson@example.com', 'phone__2': '7363444219', 'customer_name__3': 'Brian Logan', 'signup_date__3': datetime.date(2025, 5, 3), 'email__3': 'leenorma@example.org', 'phone__3': '9614950165', 'customer_name__4': 'Mr. David Grant MD', 'signup_date__4': datetime.date(2025, 2, 11), 'email__4': 'danielhammond@example.net', 'phone__4': '7789656159', 'customer_name__5': 'Catherine Smith', 'signup_date__5': datetime.date(2024, 12, 17), 'email__5': 'tmiller@example.com', 'phone__5': '7189444111', 'customer_name__6': 'Richard Anderson', 'signup_date__6': datetime.date(2025, 6, 27), 'email__6': 'jonathan65@example.com', 'phone__6': '8194593967', 'customer_name__7': 'Zachary Rogers', 'signup_date__7': datetime.date(2024, 9, 3), 'email__7': 'gsharp@example.com', 'phone__7': '6270785547', 'customer_name__8': 'Tara Harris', 'signup_date__8': datetime.date(2024, 1, 5), 'email__8': 'mmoody@example.org', 'phone__8': '7593750472', 'customer_name__9': 'Amanda Rush', 'signup_date__9': datetime.date(2024, 9, 16), 'email__9': 'jonesjaime@example.com', 'phone__9': '6184281756', 'customer_name__10': 'Thomas Frazier', 'signup_date__10': datetime.date(2023, 12, 29), 'email__10': 'cperez@example.com', 'phone__10': '8156777219', 'customer_name__11': 'Krista Williamson', 'signup_date__11': datetime.date(2024, 4, 5), 'email__11': 'anthonyhardy@example.com', 'phone__11': '6836881838', 'customer_name__12': 'Claudia Shaffer', 'signup_date__12': datetime.date(2024, 8, 13) ... 3900 parameters truncated ... 'email__987': 'donnacombs@example.net', 'phone__987': '9458024467', 'customer_name__988': 'Abigail Hutchinson', 'signup_date__988': datetime.date(2025, 6, 21), 'email__988': 'david09@example.net', 'phone__988': '9941559311', 'customer_name__989': 'Kimberly Rodriguez', 'signup_date__989': datetime.date(2025, 2, 23), 'email__989': 'cookryan@example.net', 'phone__989': '7305636177', 'customer_name__990': 'Jessica Martin', 'signup_date__990': datetime.date(2025, 2, 4), 'email__990': 'smithpatrick@example.org', 'phone__990': '8459314369', 'customer_name__991': 'Joseph Wilson', 'signup_date__991': datetime.date(2024, 7, 8), 'email__991': 'tinawyatt@example.com', 'phone__991': '6698139375', 'customer_name__992': 'Seth Simpson', 'signup_date__992': datetime.date(2025, 5, 15), 'email__992': 'richard78@example.org', 'phone__992': '9243606178', 'customer_name__993': 'Kevin Watts', 'signup_date__993': datetime.date(2025, 5, 15), 'email__993': 'hopkinsjasmine@example.net', 'phone__993': '6884967138', 'customer_name__994': 'Cindy Fox', 'signup_date__994': datetime.date(2024, 7, 19), 'email__994': 'perezchristopher@example.net', 'phone__994': '6922883214', 'customer_name__995': 'Calvin Reyes', 'signup_date__995': datetime.date(2024, 10, 22), 'email__995': 'mperry@example.com', 'phone__995': '8290269042', 'customer_name__996': 'Christopher Price', 'signup_date__996': datetime.date(2024, 11, 22), 'email__996': 'walkerkayla@example.net', 'phone__996': '6130278456', 'customer_name__997': 'Eric Welch', 'signup_date__997': datetime.date(2025, 5, 27), 'email__997': 'moseskristi@example.net', 'phone__997': '6604743540', 'customer_name__998': 'Jeffrey Peterson', 'signup_date__998': datetime.date(2024, 8, 7), 'email__998': 'zachary05@example.com', 'phone__998': '8001567489', 'customer_name__999': 'Jennifer Johnson', 'signup_date__999': datetime.date(2025, 4, 17), 'email__999': 'ellen43@example.com', 'phone__999': '8288964548'}
2025-08-10 21:53:09,436 INFO sqlalchemy.engine.Engine COMMIT
✅ 3000 unique customers inserted successfully.
2025-08-10 21:53:09,469 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-10 21:53:09,470 INFO sqlalchemy.engine.Engine SELECT customers.customers.customer_id AS customers_customers_customer_id, customers.customers.customer_name AS customers_customers_customer_name, customers.customers.email AS customers_customers_email, customers.customers.phone AS customers_customers_phone, customers.customers.signup_date AS customers_customers_signup_date
FROM customers.customers
2025-08-10 21:53:09,471 INFO sqlalchemy.engine.Engine [generated in 0.00066s] {}
2025-08-10 21:53:10,070 INFO sqlalchemy.engine.Engine INSERT INTO customers.addresses (customer_id, street, city, state, zipcode, country) SELECT p0::INTEGER, p1::VARCHAR, p2::VARCHAR, p3::VARCHAR, p4::VARCHAR, p5::VARCHAR FROM (VALUES (%(customer_id__0)s, %(street__0)s, %(city__0)s, %(state__0)s, %(zip ... 112220 characters truncated ... en_counter RETURNING customers.addresses.address_id, customers.addresses.address_id AS address_id__1
2025-08-10 21:53:10,071 INFO sqlalchemy.engine.Engine [generated in 0.02099s (insertmanyvalues) 1/3 (ordered)] {'state__0': 'Meghalaya', 'city__0': 'Bhusawal', 'country__0': 'india', 'zipcode__0': '104048', 'customer_id__0': 5264, 'street__0': 'H.No. 111\nPau Chowk', 'state__1': 'Assam', 'city__1': 'Bhavnagar', 'country__1': 'india', 'zipcode__1': '412426', 'customer_id__1': 3086, 'street__1': '69\nChowdhury Ganj', 'state__2': 'Uttarakhand', 'city__2': 'Mehsana', 'country__2': 'india', 'zipcode__2': '917706', 'customer_id__2': 2142, 'street__2': '95/461, Char Road', 'state__3': 'Mizoram', 'city__3': 'Bokaro', 'country__3': 'india', 'zipcode__3': '151376', 'customer_id__3': 4692, 'street__3': '33/009\nWable Marg', 'state__4': 'Nagaland', 'city__4': 'Bally', 'country__4': 'india', 'zipcode__4': '393796', 'customer_id__4': 675, 'street__4': 'H.No. 58, Patel Marg', 'state__5': 'Assam', 'city__5': 'Avadi', 'country__5': 'india', 'zipcode__5': '577673', 'customer_id__5': 358, 'street__5': '41/93\nKarpe Nagar', 'state__6': 'Maharashtra', 'city__6': 'North Dumdum', 'country__6': 'india', 'zipcode__6': '298569', 'customer_id__6': 3046, 'street__6': '107, Sachar Path', 'state__7': 'Haryana', 'city__7': 'Ongole', 'country__7': 'india', 'zipcode__7': '400328', 'customer_id__7': 2027, 'street__7': '42\nPandya Circle', 'state__8': 'Punjab', 'city__8': 'Agra' ... 5900 parameters truncated ... 'customer_id__991': 4810, 'street__991': '38/260\nMutti Road', 'state__992': 'Haryana', 'city__992': 'Etawah', 'country__992': 'india', 'zipcode__992': '158804', 'customer_id__992': 775, 'street__992': '44/90, Dar Chowk', 'state__993': 'Uttar Pradesh', 'city__993': 'Panvel', 'country__993': 'india', 'zipcode__993': '220814', 'customer_id__993': 4949, 'street__993': 'H.No. 25, Guha Nagar', 'state__994': 'Manipur', 'city__994': 'Hosur', 'country__994': 'india', 'zipcode__994': '550432', 'customer_id__994': 4691, 'street__994': '31/578, Chahal Path', 'state__995': 'Uttar Pradesh', 'city__995': 'Tiruchirappalli', 'country__995': 'india', 'zipcode__995': '819377', 'customer_id__995': 3006, 'street__995': 'H.No. 91\nRaju Chowk', 'state__996': 'Uttar Pradesh', 'city__996': 'Udaipur', 'country__996': 'india', 'zipcode__996': '757463', 'customer_id__996': 931, 'street__996': 'H.No. 90\nSoman Zila', 'state__997': 'Tamil Nadu', 'city__997': 'Bhiwani', 'country__997': 'india', 'zipcode__997': '913439', 'customer_id__997': 3241, 'street__997': 'H.No. 355, Ahluwalia Path', 'state__998': 'Sikkim', 'city__998': 'Ranchi', 'country__998': 'india', 'zipcode__998': '414170', 'customer_id__998': 1452, 'street__998': 'H.No. 218\nMahal Road', 'state__999': 'Maharashtra', 'city__999': 'Tiruvottiyur', 'country__999': 'india', 'zipcode__999': '567621', 'customer_id__999': 4428, 'street__999': '02/04, Murty'}
2025-08-10 21:53:10,129 INFO sqlalchemy.engine.Engine INSERT INTO customers.addresses (customer_id, street, city, state, zipcode, country) SELECT p0::INTEGER, p1::VARCHAR, p2::VARCHAR, p3::VARCHAR, p4::VARCHAR, p5::VARCHAR FROM (VALUES (%(customer_id__0)s, %(street__0)s, %(city__0)s, %(state__0)s, %(zip ... 112220 characters truncated ... en_counter RETURNING customers.addresses.address_id, customers.addresses.address_id AS address_id__1

# Product Schema & Table's

In [75]:
from sqlalchemy import Numeric

# Suppliers 
class Suppliers(Base):
    __tablename__='suppliers'
    __table_args__={'schema':'products','extend_existing':True}
    
    supplier_id= Column(Integer, primary_key= True)
    supplier_name= Column(String(100))
    contact_name= Column(String(100))
    phone= Column(String(20))
    
# Products 
class Products(Base):
    __tablename__='products'
    __table_args__={'schema':'products','extend_existing':True}
    
    product_id= Column(Integer, primary_key= True)
    product_name= Column(String(100))
    category_id= Column(Integer)
    price= Column(Numeric(10, 2))
    supplier_id= Column(Integer)

# Reviews 
class Reviews(Base):
    __tablename__='reviews'
    __table_args__={'schema':'products','extend_existing':True}
    
    review_id= Column(Integer, primary_key= True)
    product_id= Column(Integer)
    review_date= Column(Date)
    review_text= Column(String(150))
    rating= Column(Integer)

# Discounts 
class Discounts(Base):
    __tablename__='discounts'
    __table_args__={'schema':'products','extend_existing':True}
    
    discount_id= Column(Integer, primary_key= True)
    product_id= Column(Integer)
    discount_percent= Column(Numeric(5,2))
    start_date= Column(Date)
    end_date= Column(Date)

# Categories 
class Categories(Base):
    __tablename__='categories'
    __table_args__={'schema':'products','extend_existing':True}
    
    category_id= Column(Integer, primary_key= True)
    category_name= Column(String(50))
    description= Column(String(100))

#--------------------------------------------------------INSERTION PROCESS---------------------------------------------------
from category_product_list import categories_with_products

supplier_names = [
    "PepsiCo India Distributors", "Parle Agro Traders",
    "Haldiram Wholesale", "Balaji Wafers Pvt. Ltd.",
    "Amul Dairy Co-op", "Mother Dairy Foods",
    "ITC Frozen Foods Ltd.", "Godrej Yummiez Suppliers",
    "Reliance Fresh Produce", "Big Basket Fresh Distributors",
    "HUL Personal Care", "Godrej Consumer Goods"
]

# Suppliers Insert
def insert_suppliers_data(n):
    session = get_session()
    suppliers_list = []
    for _ in range(n):
        # create one supplier per loop iteration
        supplier = Suppliers(
            supplier_name=random.choice(supplier_names),
            contact_name=fake.name(),
            phone=fake.phone_number()
        )
        suppliers_list.append(supplier)
    session.add_all(suppliers_list)
    session.commit()
    session.close()


    print(f"{n}✅ Products' Supplier Data successfully inserted.")

#Products Insert
def insert_products_data(categories_with_products, n):
    session = get_session()
    products_list = []

    # Get supplier IDs from DB
    supplier_ids = [s.supplier_id for s in session.query(Suppliers).all()] 
    
    # Map category_name -> category_id
    category_map = {c.category_name: c.category_id for c in session.query(Categories).all()}

    # Flatten list of (product_name, category) tuples
    all_products = [
        (product_name, category)
        for category, product_names in categories_with_products.items()
        for product_name in product_names
    ]

    # Avoid duplicates by sampling without replacement if n <= total products
    if n <= len(all_products):
        selected_products = random.sample(all_products, n)
    else:
        # If n > total unique products, allow repeats
        selected_products = [random.choice(all_products) for _ in range(n)]

    # Create product objects
    for product_name, category in selected_products:
        product = Products(
            product_name=product_name,
            category_id=category_map.get(category),  # ✅ Matches DB category_id
            price=round(random.uniform(10, 500), 2),
            supplier_id=random.choice(supplier_ids)
        )
        products_list.append(product)

    session.add_all(products_list)
    session.commit()
    session.close()

    print(f"✅ {len(products_list)} Products inserted successfully.")


# Reviews Insert
def insert_reviews_data(n):
    session = get_session()
    product_ids = [p.product_id for p in session.query(Products).all()]
    
    # Select 60% of products to get reviewed
    selected_products = random.sample(product_ids, k=int(0.6 * len(product_ids)))

    reviews_list = []
    
    for _ in range(n):
        review = Reviews(
            product_id = random.choice(selected_products),
            review_date = fake.date_between(start_date='-2y', end_date='today'),
            review_text = fake.text(max_nb_chars=30),
            rating = random.randint(1, 5)
        )
        reviews_list.append(review)

    session.add_all(reviews_list)
    session.commit()
    session.close()

    print(f"✅ {n} Products' Reviews inserted successfully.")
        
# Discounts Insert
def insert_discounts_data(n):
    session = get_session()
    product_ids = [p.product_id for p in session.query(Products).all()]
    discounts_list = []

    for _ in range(n):
        product_id = random.choice(product_ids)

        # Generate start date randomly in the past 2 years
        start_date = fake.date_between(start_date='-2y', end_date='-1d')
        
        # Generate end date between start_date and today
        end_date = fake.date_between(start_date=start_date, end_date='today')

        discount = Discounts(
            product_id=product_id,
            discount_percent=random.randint(1, 100),
            start_date=start_date,
            end_date=end_date
        )
        discounts_list.append(discount)

    session.add_all(discounts_list)
    session.commit()
    session.close()
    
    print(f"✅ {n} Products' Discounts inserted successfully.")

# Categories Insert
def insert_categories_data():
    session = get_session()

    # Category names from your dictionary
    all_categories = list(categories_with_products.keys())

    categories_list = []

    for category_name in all_categories:
        category = Categories(
            category_name=category_name,
            description=fake.text(max_nb_chars=50)
        )
        categories_list.append(category)

    session.add_all(categories_list)
    session.commit()
    session.close()

    print(f"✅ {len(categories_list)} unique product categories inserted successfully.")


insert_suppliers_data(100)
insert_products_data(categories_with_products,1000)
insert_reviews_data(2500)
insert_discounts_data(1500)
insert_categories_data()

2025-08-10 22:51:39,102 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-10 22:51:39,118 INFO sqlalchemy.engine.Engine INSERT INTO products.suppliers (supplier_name, contact_name, phone) SELECT p0::VARCHAR, p1::VARCHAR, p2::VARCHAR FROM (VALUES (%(supplier_name__0)s, %(contact_name__0)s, %(phone__0)s, 0), (%(supplier_name__1)s, %(contact_name__1)s, %(phone__1)s, 1),  ... 6482 characters truncated ... en_counter RETURNING products.suppliers.supplier_id, products.suppliers.supplier_id AS supplier_id_1
2025-08-10 22:51:39,122 INFO sqlalchemy.engine.Engine [generated in 0.00306s (insertmanyvalues) 1/1 (ordered)] {'supplier_name__0': 'Parle Agro Traders', 'phone__0': '8417083034', 'contact_name__0': 'Aarini Varma', 'supplier_name__1': 'Godrej Yummiez Suppliers', 'phone__1': '00028864578', 'contact_name__1': 'Jonathan Loyal', 'supplier_name__2': 'Haldiram Wholesale', 'phone__2': '5668940323', 'contact_name__2': 'Chakrika Loke', 'supplier_name__3': 'Reliance Fresh Produce', 'phone__3': '+918763121138', 'contact_name__3': 'Jyoti Modi', 'supplier_name__4': 'ITC Frozen Foods Ltd.', 'phone__4': '05319569647', 'contact_name__4': 'Indrajit Sunder', 'supplier_name__5': 'Amul Dairy Co-op', 'phone__5': '05787517369', 'contact_name__5': 'Chaitanya Bail', 'supplier_name__6': 'ITC Frozen Foods Ltd.', 'phone__6': '2519051732', 'contact_name__6': 'Amrita Dutt', 'supplier_name__7': 'Mother Dairy Foods', 'phone__7': '04158509802', 'contact_name__7': 'Maya Nazareth', 'supplier_name__8': 'Haldiram Wholesale', 'phone__8': '6325165738', 'contact_name__8': 'Aadhya Saini', 'supplier_name__9': 'PepsiCo India Distributors', 'phone__9': '08840067089', 'contact_name__9': 'Aarav Bal', 'supplier_name__10': 'Godrej Yummiez Suppliers', 'phone__10': '9523862467', 'contact_name__10': 'Champak Nagy', 'supplier_name__11': 'Godrej Consumer Goods', 'phone__11': '7136880107', 'contact_name__11': 'Sachi Dhingra', 'supplier_name__12': 'Amul Dairy Co-op', 'phone__12': '+910917042565', 'contact_name__12': 'Dalaja Mukherjee', 'supplier_name__13': 'ITC Frozen Foods Ltd.', 'phone__13': '6763645909', 'contact_name__13': 'Daniel Dass', 'supplier_name__14': 'Mother Dairy Foods', 'phone__14': '0939334470', 'contact_name__14': 'Tejas Dara', 'supplier_name__15': 'Godrej Consumer Goods', 'phone__15': '09234813440', 'contact_name__15': 'Panini Biswas', 'supplier_name__16': 'Mother Dairy Foods', 'phone__16': '2509323337' ... 200 parameters truncated ... 'phone__83': '4348271404', 'contact_name__83': 'Dayamai Bhandari', 'supplier_name__84': 'Amul Dairy Co-op', 'phone__84': '+912954652690', 'contact_name__84': 'Unnati Bora', 'supplier_name__85': 'Haldiram Wholesale', 'phone__85': '+911903394155', 'contact_name__85': 'Ranveer Walla', 'supplier_name__86': 'Big Basket Fresh Distributors', 'phone__86': '09890066156', 'contact_name__86': 'Chavvi Kalita', 'supplier_name__87': 'Balaji Wafers Pvt. Ltd.', 'phone__87': '+910039059664', 'contact_name__87': 'Ria Sekhon', 'supplier_name__88': 'Haldiram Wholesale', 'phone__88': '+915260982484', 'contact_name__88': 'Jhalak Chana', 'supplier_name__89': 'PepsiCo India Distributors', 'phone__89': '7477848979', 'contact_name__89': 'Triveni Palan', 'supplier_name__90': 'HUL Personal Care', 'phone__90': '+913926304760', 'contact_name__90': 'Dalaja Buch', 'supplier_name__91': 'Reliance Fresh Produce', 'phone__91': '6415967073', 'contact_name__91': 'Dipta Datta', 'supplier_name__92': 'Big Basket Fresh Distributors', 'phone__92': '+912557882848', 'contact_name__92': 'Tanmayi Ganesan', 'supplier_name__93': 'Parle Agro Traders', 'phone__93': '01997128550', 'contact_name__93': 'Hemani Warrior', 'supplier_name__94': 'Reliance Fresh Produce', 'phone__94': '+919725837118', 'contact_name__94': 'David Halder', 'supplier_name__95': 'HUL Personal Care', 'phone__95': '01438055935', 'contact_name__95': 'Ayushman Kuruvilla', 'supplier_name__96': 'PepsiCo India Distributors', 'phone__96': '3084057690', 'contact_name__96': 'Hemal Memon', 'supplier_name__97': 'PepsiCo India Distributors', 'phone__97': '+916771053384', 'contact_name__97': 'Faqid Vaidya', 'supplier_name__98': 'ITC Frozen Foods Ltd.', 'phone__98': '+910279100089', 'contact_name__98': 'Zayan Doshi', 'supplier_name__99': 'Godrej Yummiez Suppliers', 'phone__99': '+918562357251', 'contact_name__99': 'Unnati Pillay'}
2025-08-10 22:51:39,170 INFO sqlalchemy.engine.Engine COMMIT
100✅ Products' Supplier Data successfully inserted.
2025-08-10 22:51:39,181 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-10 22:51:39,188 INFO sqlalchemy.engine.Engine SELECT products.suppliers.supplier_id AS products_suppliers_supplier_id, products.suppliers.supplier_name AS products_suppliers_supplier_name, products.suppliers.contact_name AS products_suppliers_contact_name, products.suppliers.phone AS products_suppliers_phone
FROM products.suppliers
2025-08-10 22:51:39,190 INFO sqlalchemy.engine.Engine [generated in 0.00272s] {}
2025-08-10 22:51:39,203 INFO sqlalchemy.engine.Engine SELECT products.categories.category_id AS products_categories_category_id, products.categories.category_name AS products_categories_category_name, products.categories.description AS products_categories_description
FROM products.categories
2025-08-10 22:51:39,206 INFO sqlalchemy.engine.Engine [generated in 0.00309s] {}
2025-08-10 22:51:39,274 INFO sqlalchemy.engine.Engine INSERT INTO products.products (product_name, category_id, price, supplier_id) SELECT p0::VARCHAR, p1::INTEGER, p2::NUMERIC(10, 2), p3::INTEGER FROM (VALUES (%(product_name__0)s, %(category_id__0)s, %(price__0)s, %(supplier_id__0)s, 0), (%(product_nam ... 89401 characters truncated ...  BY sen_counter RETURNING products.products.product_id, products.products.product_id AS product_id_1
2025-08-10 22:51:39,275 INFO sqlalchemy.engine.Engine [generated in 0.00352s (insertmanyvalues) 1/1 (ordered)] {'price__0': 223.29, 'product_name__0': 'Surface Cleaner', 'category_id__0': 84, 'supplier_id__0': 57, 'price__1': 201.52, 'product_name__1': 'Instant Soup Mix', 'category_id__1': 88, 'supplier_id__1': 243, 'price__2': 47.31, 'product_name__2': 'Mint', 'category_id__2': 68, 'supplier_id__2': 27, 'price__3': 339.94, 'product_name__3': 'Pencil', 'category_id__3': 79, 'supplier_id__3': 400, 'price__4': 277.74, 'product_name__4': 'Amla Pickle', 'category_id__4': 75, 'supplier_id__4': 192, 'price__5': 255.67, 'product_name__5': 'Shellfish', 'category_id__5': 82, 'supplier_id__5': 14, 'price__6': 146.86, 'product_name__6': 'Tamarind', 'category_id__6': 67, 'supplier_id__6': 178, 'price__7': 468.54, 'product_name__7': 'Dettol', 'category_id__7': 65, 'supplier_id__7': 192, 'price__8': 424.56, 'product_name__8': 'Disinfectant Wipes', 'category_id__8': 81, 'supplier_id__8': 195, 'price__9': 241.44, 'product_name__9': 'Organic Spinach', 'category_id__9': 83, 'supplier_id__9': 326, 'price__10': 249.1, 'product_name__10': 'Hand Blender', 'category_id__10': 85, 'supplier_id__10': 69, 'price__11': 307.96, 'product_name__11': 'Cham Cham', 'category_id__11': 87, 'supplier_id__11': 24, 'price__12': 296.2, 'product_name__12': 'Incense Stick' ... 3900 parameters truncated ... 'category_id__987': 81, 'supplier_id__987': 374, 'price__988': 424.09, 'product_name__988': 'Pet Toothbrush', 'category_id__988': 78, 'supplier_id__988': 21, 'price__989': 358.77, 'product_name__989': 'Navratri Garba Dress', 'category_id__989': 89, 'supplier_id__989': 12, 'price__990': 233.41, 'product_name__990': 'Basmati Rice', 'category_id__990': 70, 'supplier_id__990': 190, 'price__991': 280.67, 'product_name__991': 'Sting', 'category_id__991': 61, 'supplier_id__991': 63, 'price__992': 292.99, 'product_name__992': 'Tick Powder', 'category_id__992': 78, 'supplier_id__992': 238, 'price__993': 159.7, 'product_name__993': 'Yam', 'category_id__993': 68, 'supplier_id__993': 310, 'price__994': 329.78, 'product_name__994': 'Protein Bar', 'category_id__994': 81, 'supplier_id__994': 79, 'price__995': 228.12, 'product_name__995': 'Laundry Bag', 'category_id__995': 84, 'supplier_id__995': 126, 'price__996': 386.61, 'product_name__996': 'Calculator', 'category_id__996': 79, 'supplier_id__996': 61, 'price__997': 163.45, 'product_name__997': 'Garbage Bag', 'category_id__997': 66, 'supplier_id__997': 85, 'price__998': 344.11, 'product_name__998': 'Extra Virgin Oil', 'category_id__998': 74, 'supplier_id__998': 100, 'price__999': 118.01, 'product_name__999': 'Dry Orange', 'category_id__999': 73, 'supplier_id__999': 246}

C:\Users\mesuj\AppData\Local\Temp\ipykernel_10992\3514496205.py:4: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Suppliers, and will be replaced in the string-lookup table.
  class Suppliers(Base):
C:\Users\mesuj\AppData\Local\Temp\ipykernel_10992\3514496205.py:14: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Products, and will be replaced in the string-lookup table.
  class Products(Base):
C:\Users\mesuj\AppData\Local\Temp\ipykernel_10992\3514496205.py:25: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Reviews, and will be replaced in the string-lookup table.
  class Reviews(Base):
C:\Users\mesuj\AppData\Local\Temp\ipykernel_10992\3514496205.py:36: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Discounts, and will be replaced in the string-lookup table.
  class Discounts(Base):
C:\Users\mesuj\AppData\Local\Temp\ipykernel_10992\3514496205.py:47: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Categories, and will be replaced in the string-lookup table.
  class Categories(Base):

2025-08-10 22:51:39,361 INFO sqlalchemy.engine.Engine COMMIT
✅ 1000 Products inserted successfully.
2025-08-10 22:51:39,378 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-10 22:51:39,385 INFO sqlalchemy.engine.Engine SELECT products.products.product_id AS products_products_product_id, products.products.product_name AS products_products_product_name, products.products.category_id AS products_products_category_id, products.products.price AS products_products_price, products.products.supplier_id AS products_products_supplier_id
FROM products.products
2025-08-10 22:51:39,391 INFO sqlalchemy.engine.Engine [generated in 0.00632s] {}
2025-08-10 22:51:39,816 INFO sqlalchemy.engine.Engine INSERT INTO products.reviews (product_id, review_date, review_text, rating) SELECT p0::INTEGER, p1::DATE, p2::VARCHAR, p3::INTEGER FROM (VALUES (%(product_id__0)s, %(review_date__0)s, %(review_text__0)s, %(rating__0)s, 0), (%(product_id__1)s, %(revie ... 88384 characters truncated ... ORDER BY sen_counter RETURNING products.reviews.review_id, products.reviews.review_id AS review_id_1
2025-08-10 22:51:39,817 INFO sqlalchemy.engine.Engine [generated in 0.00587s (insertmanyvalues) 1/3 (ordered)] {'rating__0': 3, 'product_id__0': 3291, 'review_text__0': 'Vero porro possimus repellat.', 'review_date__0': datetime.date(2024, 7, 24), 'rating__1': 5, 'product_id__1': 3862, 'review_text__1': 'Voluptates illo provident ab.', 'review_date__1': datetime.date(2024, 5, 13), 'rating__2': 4, 'product_id__2': 443, 'review_text__2': 'Neque velit placeat vero.', 'review_date__2': datetime.date(2024, 8, 15), 'rating__3': 5, 'product_id__3': 3085, 'review_text__3': 'Accusamus magni rerum qui.', 'review_date__3': datetime.date(2024, 6, 24), 'rating__4': 4, 'product_id__4': 2221, 'review_text__4': 'Aspernatur fuga vel eligendi.', 'review_date__4': datetime.date(2024, 9, 11), 'rating__5': 1, 'product_id__5': 2168, 'review_text__5': 'Illum libero illum labore.', 'review_date__5': datetime.date(2024, 5, 16), 'rating__6': 1, 'product_id__6': 1419, 'review_text__6': 'Mollitia maiores natus.', 'review_date__6': datetime.date(2024, 10, 23), 'rating__7': 4, 'product_id__7': 876, 'review_text__7': 'Tenetur sed laborum velit.', 'review_date__7': datetime.date(2024, 8, 19), 'rating__8': 2, 'product_id__8': 2607, 'review_text__8': 'Earum odio harum quasi.', 'review_date__8': datetime.date(2025, 6, 26), 'rating__9': 2, 'product_id__9': 68, 'review_text__9': 'Vitae ab excepturi expedita.', 'review_date__9': datetime.date(2024, 3, 10), 'rating__10': 5, 'product_id__10': 1326, 'review_text__10': 'Laboriosam dolores earum.', 'review_date__10': datetime.date(2024, 12, 2), 'rating__11': 1, 'product_id__11': 163, 'review_text__11': 'Iste ea iste ab.', 'review_date__11': datetime.date(2024, 11, 3), 'rating__12': 4, 'product_id__12': 510 ... 3900 parameters truncated ... 'review_text__987': 'Commodi ad nisi soluta.', 'review_date__987': datetime.date(2024, 3, 1), 'rating__988': 5, 'product_id__988': 901, 'review_text__988': 'Quae tempora eos labore quo.', 'review_date__988': datetime.date(2025, 2, 19), 'rating__989': 2, 'product_id__989': 1566, 'review_text__989': 'Eveniet ratione quos nemo.', 'review_date__989': datetime.date(2023, 9, 10), 'rating__990': 5, 'product_id__990': 3351, 'review_text__990': 'Quos ut earum.', 'review_date__990': datetime.date(2024, 5, 27), 'rating__991': 1, 'product_id__991': 994, 'review_text__991': 'Neque voluptas nulla.', 'review_date__991': datetime.date(2024, 8, 4), 'rating__992': 5, 'product_id__992': 2732, 'review_text__992': 'Quasi rerum ab dicta.', 'review_date__992': datetime.date(2025, 3, 26), 'rating__993': 3, 'product_id__993': 2526, 'review_text__993': 'Quibusdam fugit iste maiores.', 'review_date__993': datetime.date(2024, 5, 9), 'rating__994': 3, 'product_id__994': 2550, 'review_text__994': 'Facere laudantium tempora.', 'review_date__994': datetime.date(2023, 11, 8), 'rating__995': 3, 'product_id__995': 371, 'review_text__995': 'Asperiores odit autem.', 'review_date__995': datetime.date(2025, 3, 25), 'rating__996': 3, 'product_id__996': 1734, 'review_text__996': 'Ratione odit animi.', 'review_date__996': datetime.date(2024, 11, 20), 'rating__997': 4, 'product_id__997': 3908, 'review_text__997': 'Ad iusto suscipit.', 'review_date__997': datetime.date(2024, 9, 3), 'rating__998': 5, 'product_id__998': 2443, 'review_text__998': 'Non quaerat nemo eveniet.', 'review_date__998': datetime.date(2023, 9, 1), 'rating__999': 3, 'product_id__999': 822, 'review_text__999': 'Voluptatibus incidunt ullam.', 'review_date__999': datetime.date(2024, 12, 29)}
2025-08-10 22:51:39,867 INFO sqlalchemy.engine.Engine INSERT INTO products.reviews (product_id, review_date, review_text, rating) SELECT p0::INTEGER, p1::DATE, p2::VARCHAR, p3::INTEGER FROM (VALUES (%(product_id__0)s, %(review_date__0)s, %(review_text__0)s, %(rating__0)s, 0), (%(product_id__1)s, %(revie ... 88384 characters truncated ... ORDER BY sen_counter RETURNING products.reviews.review_id, products.reviews.review_id AS review_id_1
2025-08-10 22:51:39,867 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered)] {'rating__0': 2, 'product_id__0': 745, 'review_text__0': 'Ipsum tenetur nemo.', 'review_date__0': datetime.date(2025, 3, 20), 'rating__1': 2, 'product_id__1': 1380, 'review_text__1': 'Esse ipsum nam culpa quo.', 'review_date__1': datetime.date(2024, 2, 22), 'rating__2': 1, 'product_id__2': 2217, 'review_text__2': 'Maiores quod placeat.', 'review_date__2': datetime.date(2023, 8, 11), 'rating__3': 2, 'product_id__3': 708, 'review_text__3': 'Excepturi itaque veniam.', 'review_date__3': datetime.date(2024, 5, 4), 'rating__4': 1, 'product_id__4': 2099, 'review_text__4': 'Vel pariatur enim magnam.', 'review_date__4': datetime.date(2025, 1, 22), 'rating__5': 2, 'product_id__5': 2471, 'review_text__5': 'Dicta sunt sint quos.', 'review_date__5': datetime.date(2024, 10, 11), 'rating__6': 1, 'product_id__6': 3561, 'review_text__6': 'Occaecati eveniet eius.', 'review_date__6': datetime.date(2024, 3, 26), 'rating__7': 3, 'product_id__7': 3975, 'review_text__7': 'Itaque accusamus alias harum.', 'review_date__7': datetime.date(2023, 10, 22), 'rating__8': 4, 'product_id__8': 2112, 'review_text__8': 'Exercitationem et ea magnam.', 'review_date__8': datetime.date(2024, 6, 1), 'rating__9': 2, 'product_id__9': 252, 'review_text__9': 'Quia nobis quos architecto.', 'review_date__9': datetime.date(2025, 6, 18), 'rating__10': 2, 'product_id__10': 1190, 'review_text__10': 'Ipsum aperiam veniam beatae.', 'review_date__10': datetime.date(2024, 3, 31), 'rating__11': 1, 'product_id__11': 3356, 'review_text__11': 'Minima mollitia repellat.', 'review_date__11': datetime.date(2024, 5, 2), 'rating__12': 4, 'product_id__12': 1556 ... 3900 parameters truncated ... 'review_text__987': 'A magni impedit est.', 'review_date__987': datetime.date(2024, 10, 1), 'rating__988': 3, 'product_id__988': 728, 'review_text__988': 'Id error eaque nobis.', 'review_date__988': datetime.date(2025, 6, 10), 'rating__989': 1, 'product_id__989': 960, 'review_text__989': 'Quisquam quod perspiciatis.', 'review_date__989': datetime.date(2025, 6, 12), 'rating__990': 5, 'product_id__990': 1047, 'review_text__990': 'Quia porro animi dolor.', 'review_date__990': datetime.date(2023, 11, 30), 'rating__991': 1, 'product_id__991': 1691, 'review_text__991': 'Asperiores quia vero quia.', 'review_date__991': datetime.date(2024, 4, 8), 'rating__992': 5, 'product_id__992': 338, 'review_text__992': 'Fuga ducimus numquam fuga.', 'review_date__992': datetime.date(2024, 6, 21), 'rating__993': 2, 'product_id__993': 2309, 'review_text__993': 'Fugit odio quam soluta.', 'review_date__993': datetime.date(2024, 4, 13), 'rating__994': 1, 'product_id__994': 136, 'review_text__994': 'Modi esse aliquam.', 'review_date__994': datetime.date(2024, 8, 30), 'rating__995': 2, 'product_id__995': 1940, 'review_text__995': 'Veritatis in autem nesciunt.', 'review_date__995': datetime.date(2025, 2, 7), 'rating__996': 5, 'product_id__996': 2527, 'review_text__996': 'Culpa neque deserunt.', 'review_date__996': datetime.date(2023, 8, 30), 'rating__997': 3, 'product_id__997': 3300, 'review_text__997': 'Accusamus cumque maxime.', 'review_date__997': datetime.date(2025, 6, 23), 'rating__998': 3, 'product_id__998': 3774, 'review_text__998': 'Optio magni illo.', 'review_date__998': datetime.date(2024, 10, 24), 'rating__999': 5, 'product_id__999': 607, 'review_text__999': 'Laborum iusto nostrum qui.', 'review_date__999': datetime.date(2024, 4, 18)}
2025-08-10 22:51:39,906 INFO sqlalchemy.engine.Engine INSERT INTO products.reviews (product_id, review_date, review_text, rating) SELECT p0::INTEGER, p1::DATE, p2::VARCHAR, p3::INTEGER FROM (VALUES (%(product_id__0)s, %(review_date__0)s, %(review_text__0)s, %(rating__0)s, 0), (%(product_id__1)s, %(revie ... 43884 characters truncated ... ORDER BY sen_counter RETURNING products.reviews.review_id, products.reviews.review_id AS review_id_1
2025-08-10 22:51:39,907 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered)] {'rating__0': 3, 'product_id__0': 338, 'review_text__0': 'Dicta cumque debitis.', 'review_date__0': datetime.date(2025, 4, 18), 'rating__1': 5, 'product_id__1': 3644, 'review_text__1': 'Sapiente incidunt earum quos.', 'review_date__1': datetime.date(2025, 7, 19), 'rating__2': 1, 'product_id__2': 927, 'review_text__2': 'Ea illum soluta architecto.', 'review_date__2': datetime.date(2024, 10, 2), 'rating__3': 5, 'product_id__3': 2289, 'review_text__3': 'Maxime alias optio.', 'review_date__3': datetime.date(2024, 6, 7), 'rating__4': 2, 'product_id__4': 3956, 'review_text__4': 'Et dolore non voluptatum.', 'review_date__4': datetime.date(2024, 10, 24), 'rating__5': 2, 'product_id__5': 273, 'review_text__5': 'Nemo laborum mollitia quidem.', 'review_date__5': datetime.date(2024, 1, 31), 'rating__6': 1, 'product_id__6': 3259, 'review_text__6': 'Nulla voluptas sed quos.', 'review_date__6': datetime.date(2024, 9, 4), 'rating__7': 4, 'product_id__7': 3879, 'review_text__7': 'Eum sunt tempora expedita.', 'review_date__7': datetime.date(2025, 3, 11), 'rating__8': 5, 'product_id__8': 3420, 'review_text__8': 'Dignissimos et assumenda eos.', 'review_date__8': datetime.date(2024, 1, 15), 'rating__9': 5, 'product_id__9': 3941, 'review_text__9': 'Nemo exercitationem esse.', 'review_date__9': datetime.date(2025, 6, 8), 'rating__10': 3, 'product_id__10': 815, 'review_text__10': 'Ullam nesciunt incidunt.', 'review_date__10': datetime.date(2025, 2, 26), 'rating__11': 5, 'product_id__11': 2863, 'review_text__11': 'Sapiente nihil soluta.', 'review_date__11': datetime.date(2024, 10, 28), 'rating__12': 2, 'product_id__12': 3654 ... 1900 parameters truncated ... 'review_text__487': 'Est impedit iusto.', 'review_date__487': datetime.date(2025, 7, 15), 'rating__488': 2, 'product_id__488': 697, 'review_text__488': 'Natus fugit maxime eligendi.', 'review_date__488': datetime.date(2024, 1, 29), 'rating__489': 4, 'product_id__489': 746, 'review_text__489': 'Aperiam labore enim eligendi.', 'review_date__489': datetime.date(2025, 5, 24), 'rating__490': 3, 'product_id__490': 2943, 'review_text__490': 'Mollitia earum nulla placeat.', 'review_date__490': datetime.date(2025, 3, 30), 'rating__491': 4, 'product_id__491': 2533, 'review_text__491': 'Odit optio sed vero voluptas.', 'review_date__491': datetime.date(2024, 1, 4), 'rating__492': 4, 'product_id__492': 2082, 'review_text__492': 'Quia tempore neque libero.', 'review_date__492': datetime.date(2024, 5, 7), 'rating__493': 5, 'product_id__493': 3903, 'review_text__493': 'Amet maxime veritatis.', 'review_date__493': datetime.date(2024, 7, 23), 'rating__494': 3, 'product_id__494': 657, 'review_text__494': 'Iure numquam tempora quo.', 'review_date__494': datetime.date(2025, 6, 17), 'rating__495': 1, 'product_id__495': 1686, 'review_text__495': 'Esse aperiam aliquam culpa.', 'review_date__495': datetime.date(2024, 3, 10), 'rating__496': 3, 'product_id__496': 3960, 'review_text__496': 'Aliquam unde sequi aperiam.', 'review_date__496': datetime.date(2025, 3, 26), 'rating__497': 5, 'product_id__497': 840, 'review_text__497': 'Voluptas occaecati doloribus.', 'review_date__497': datetime.date(2025, 2, 19), 'rating__498': 2, 'product_id__498': 3936, 'review_text__498': 'Tempora minus nemo nisi.', 'review_date__498': datetime.date(2023, 8, 26), 'rating__499': 3, 'product_id__499': 2618, 'review_text__499': 'Rem illo nihil est.', 'review_date__499': datetime.date(2023, 9, 24)}
2025-08-10 22:51:39,973 INFO sqlalchemy.engine.Engine COMMIT
✅ 2500 Products' Reviews inserted successfully.
2025-08-10 22:51:39,994 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-10 22:51:39,996 INFO sqlalchemy.engine.Engine SELECT products.products.product_id AS products_products_product_id, products.products.product_name AS products_products_product_name, products.products.category_id AS products_products_category_id, products.products.price AS products_products_price, products.products.supplier_id AS products_products_supplier_id
FROM products.products
2025-08-10 22:51:39,998 INFO sqlalchemy.engine.Engine [cached since 0.6133s ago] {}
2025-08-10 22:51:40,227 INFO sqlalchemy.engine.Engine INSERT INTO products.discounts (product_id, discount_percent, start_date, end_date) SELECT p0::INTEGER, p1::NUMERIC(5, 2), p2::DATE, p3::DATE FROM (VALUES (%(product_id__0)s, %(discount_percent__0)s, %(start_date__0)s, %(end_date__0)s, 0), (%(product ... 94405 characters truncated ... en_counter RETURNING products.discounts.discount_id, products.discounts.discount_id AS discount_id_1
2025-08-10 22:51:40,227 INFO sqlalchemy.engine.Engine [generated in 0.00400s (insertmanyvalues) 1/2 (ordered)] {'discount_percent__0': 63, 'end_date__0': datetime.date(2025, 4, 28), 'product_id__0': 2907, 'start_date__0': datetime.date(2024, 2, 3), 'discount_percent__1': 17, 'end_date__1': datetime.date(2025, 4, 30), 'product_id__1': 2624, 'start_date__1': datetime.date(2024, 7, 20), 'discount_percent__2': 11, 'end_date__2': datetime.date(2024, 11, 25), 'product_id__2': 3890, 'start_date__2': datetime.date(2024, 9, 20), 'discount_percent__3': 27, 'end_date__3': datetime.date(2024, 9, 24), 'product_id__3': 1977, 'start_date__3': datetime.date(2024, 1, 23), 'discount_percent__4': 67, 'end_date__4': datetime.date(2025, 7, 29), 'product_id__4': 1417, 'start_date__4': datetime.date(2024, 6, 18), 'discount_percent__5': 81, 'end_date__5': datetime.date(2025, 6, 15), 'product_id__5': 328, 'start_date__5': datetime.date(2025, 5, 13), 'discount_percent__6': 43, 'end_date__6': datetime.date(2025, 6, 29), 'product_id__6': 2573, 'start_date__6': datetime.date(2025, 2, 9), 'discount_percent__7': 70, 'end_date__7': datetime.date(2025, 2, 15), 'product_id__7': 3654, 'start_date__7': datetime.date(2023, 9, 24), 'discount_percent__8': 46, 'end_date__8': datetime.date(2025, 7, 23), 'product_id__8': 3612, 'start_date__8': datetime.date(2025, 7, 17), 'discount_percent__9': 34, 'end_date__9': datetime.date(2025, 6, 6), 'product_id__9': 3430, 'start_date__9': datetime.date(2024, 10, 9), 'discount_percent__10': 57, 'end_date__10': datetime.date(2025, 6, 23), 'product_id__10': 3258, 'start_date__10': datetime.date(2024, 10, 14), 'discount_percent__11': 42, 'end_date__11': datetime.date(2025, 3, 19), 'product_id__11': 2870, 'start_date__11': datetime.date(2024, 2, 26), 'discount_percent__12': 4, 'end_date__12': datetime.date(2025, 4, 15) ... 3900 parameters truncated ... 'product_id__987': 1329, 'start_date__987': datetime.date(2024, 12, 6), 'discount_percent__988': 4, 'end_date__988': datetime.date(2024, 12, 8), 'product_id__988': 1678, 'start_date__988': datetime.date(2024, 10, 9), 'discount_percent__989': 36, 'end_date__989': datetime.date(2025, 7, 31), 'product_id__989': 3276, 'start_date__989': datetime.date(2025, 7, 29), 'discount_percent__990': 98, 'end_date__990': datetime.date(2025, 2, 12), 'product_id__990': 3063, 'start_date__990': datetime.date(2024, 4, 30), 'discount_percent__991': 20, 'end_date__991': datetime.date(2025, 4, 5), 'product_id__991': 768, 'start_date__991': datetime.date(2024, 7, 21), 'discount_percent__992': 40, 'end_date__992': datetime.date(2024, 11, 11), 'product_id__992': 870, 'start_date__992': datetime.date(2024, 5, 7), 'discount_percent__993': 87, 'end_date__993': datetime.date(2025, 8, 5), 'product_id__993': 2856, 'start_date__993': datetime.date(2025, 7, 15), 'discount_percent__994': 31, 'end_date__994': datetime.date(2025, 6, 17), 'product_id__994': 2863, 'start_date__994': datetime.date(2023, 12, 24), 'discount_percent__995': 8, 'end_date__995': datetime.date(2025, 7, 27), 'product_id__995': 1874, 'start_date__995': datetime.date(2025, 7, 5), 'discount_percent__996': 76, 'end_date__996': datetime.date(2025, 7, 19), 'product_id__996': 2276, 'start_date__996': datetime.date(2024, 10, 18), 'discount_percent__997': 13, 'end_date__997': datetime.date(2025, 8, 6), 'product_id__997': 2510, 'start_date__997': datetime.date(2025, 2, 25), 'discount_percent__998': 13, 'end_date__998': datetime.date(2025, 7, 14), 'product_id__998': 2433, 'start_date__998': datetime.date(2024, 6, 13), 'discount_percent__999': 24, 'end_date__999': datetime.date(2024, 9, 1), 'product_id__999': 603, 'start_date__999': datetime.date(2024, 3, 4)}
2025-08-10 22:51:40,273 INFO sqlalchemy.engine.Engine INSERT INTO products.discounts (product_id, discount_percent, start_date, end_date) SELECT p0::INTEGER, p1::NUMERIC(5, 2), p2::DATE, p3::DATE FROM (VALUES (%(product_id__0)s, %(discount_percent__0)s, %(start_date__0)s, %(end_date__0)s, 0), (%(product ... 46905 characters truncated ... en_counter RETURNING products.discounts.discount_id, products.discounts.discount_id AS discount_id_1

# Sales Schema & Table's

In [14]:
from sqlalchemy import Numeric

# Orders
class Orders(Base):
    __tablename__ = 'orders'
    __table_args__ = {'schema': 'sales', 'extend_existing': True}

    order_id = Column(Integer, primary_key=True)
    customer_id = Column(Integer)
    region_id = Column(Integer)
    channel_id = Column(Integer)
    order_date = Column(Date)
    total_amount = Column(Numeric(10, 2))

# Order_Items
class OrderItems(Base):
    __tablename__ = 'order_items'
    __table_args__ = {'schema': 'sales', 'extend_existing': True}

    order_item_id = Column(Integer, primary_key=True)
    order_id = Column(Integer)
    product_id = Column(Integer)
    quantity = Column(Integer)
    price = Column(Numeric(10, 2))

# Transactions
class Transactions(Base):
    __tablename__ = 'transactions'
    __table_args__ = {'schema': 'sales', 'extend_existing': True}

    transaction_id = Column(Integer, primary_key=True)
    order_id = Column(Integer)
    payment_method = Column(String(50))
    amount_paid = Column(Numeric(10, 2))
    transaction_date = Column(DateTime)

# Regions
class Regions(Base):
    __tablename__ = 'regions'
    __table_args__ = {'schema': 'sales', 'extend_existing': True}

    region_id = Column(Integer, primary_key=True)
    region_name = Column(String(50), unique=True)

# Channels 
class Channels(Base):
    __tablename__ = 'channels'
    __table_args__ = {'schema': 'sales', 'extend_existing': True}

    channel_id = Column(Integer, primary_key=True)
    channel_name = Column(String(50), unique=True)

#----------------------------------------------------------------------------------------Insertion Process-------------------------------------------------------------------------------------------------

# Regions Insert
def insert_regions_data():
    session = get_session()
    existing_regions = {r.region_name for r in session.query(Regions).all()}

    region_names = ["North", "South", "East", "West", "Central", "North-East"]
    new_regions = []

    for name in region_names:
        if name not in existing_regions:
            new_regions.append(Regions(region_name=name))

    if new_regions:
        session.add_all(new_regions)
        session.commit()

    session.close()
    print("✅ Sales's Regions inserted successfully.")

insert_regions_data()

#Channels Insert
def insert_channels_data():
    session = get_session()
    existing_channel_names = {c.channel_name for c in session.query(Channels).all()}
    channel_names = ["Online", "In-Store", "Mobile App", "Call Center"]
    new_channels = []

    for name in channel_names:
        if name not in existing_channel_names:
            new_channels.append(Channels(channel_name=name))

    if new_channels:
        session.add_all(new_channels)
        session.commit()

    session.close()
    print("✅ Sales's Channels inserted successfully.")

insert_channels_data()

# Orders Insert
def insert_orders_data(n):
    session = get_session()
    customer_ids = [c.customer_id for c in session.query(Customer).all()]
    region_ids = [r.region_id for r in session.query(Regions).all()]
    channel_ids = [h.channel_id for h in session.query(Channels).all()]
    orders_list = []

    for _ in range(n):
        customer_id = random.choice(customer_ids)
        order_date = fake.date_between(start_date='-1y', end_date='today')
        total_amount = round(random.uniform(500, 10000), 2)

        order = Orders(
            customer_id=customer_id,
            region_id= random.choice(region_ids),
            channel_id= random.choice(channel_ids),
            order_date=order_date,
            total_amount=total_amount
        )
        orders_list.append(order)

    session.add_all(orders_list)
    session.commit()
    session.close()
    print(f"✅ {n}Sales's orders inserted successfully.")

# Order_Items
def insert_order_items_data(n):
    session = get_session()
    order_ids = [o.order_id for o in session.query(Orders).all()]
    product_ids = [p.product_id for p in session.query(Products).all()]
    items_list = []
    used_pairs = set()  # 🔹 To avoid duplicate order_id + product_id

    for _ in range(n):
        tries = 0
        while tries < 10:  # Limit retries to avoid infinite loop
            order_id = random.choice(order_ids)
            product_id = random.choice(product_ids)
            pair = (order_id, product_id)

            if pair not in used_pairs:
                used_pairs.add(pair)

                quantity = random.randint(1, 5)
                price = round(random.uniform(100, 2000), 2)

                item = OrderItems(
                    order_id=order_id,
                    product_id=product_id,
                    quantity=quantity,
                    price=price
                )
                items_list.append(item)
                break  # Exit inner loop if unique pair added

            tries += 1  # Try new pair if duplicate

    session.add_all(items_list)
    session.commit()
    session.close()
    print(f"✅ {len(items_list)} Sales's order_items inserted successfully.")

#Transactions Insert
def insert_transactions_data(n):
    session = get_session()
    order_ids = [o.order_id for o in session.query(Orders).all()]
    transactions_list = []

    for _ in range(n):
        order_id = random.choice(order_ids)
        amount_paid = round(random.uniform(500, 10000), 2)
        payment_method = random.choice(["Credit Card", "Debit Card", "UPI", "Net Banking", "Cash"])
        transaction_date = fake.date_time_between(start_date='-1y', end_date='now')

        transaction = Transactions(
            order_id=order_id,
            payment_method=payment_method,
            amount_paid=amount_paid,
            transaction_date=transaction_date
        )
        transactions_list.append(transaction)

    session.add_all(transactions_list)
    session.commit()
    session.close()
    print(f"✅ {n}Sales's transactions inserted successfully.")


insert_orders_data(6000)
insert_order_items_data(12000)
insert_transactions_data(6000)

2025-08-06 14:52:43,358 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-06 14:52:43,360 INFO sqlalchemy.engine.Engine SELECT sales.regions.region_id AS sales_regions_region_id, sales.regions.region_name AS sales_regions_region_name
FROM sales.regions
2025-08-06 14:52:43,361 INFO sqlalchemy.engine.Engine [generated in 0.00096s] {}
2025-08-06 14:52:43,366 INFO sqlalchemy.engine.Engine INSERT INTO sales.regions (region_name) SELECT p0::VARCHAR FROM (VALUES (%(region_name__0)s, 0), (%(region_name__1)s, 1), (%(region_name__2)s, 2), (%(region_name__3)s, 3), (%(region_name__4)s, 4), (%(region_name__5)s, 5)) AS imp_sen(p0, sen_counter) ORDER BY sen_counter RETURNING sales.regions.region_id, sales.regions.region_id AS region_id__1
2025-08-06 14:52:43,367 INFO sqlalchemy.engine.Engine [generated in 0.00008s (insertmanyvalues) 1/1 (ordered)] {'region_name__0': 'North', 'region_name__1': 'South', 'region_name__2': 'East', 'region_name__3': 'West', 'region_name__4': 'Central', 'region_name__5': 'North-East'}
2025-08-06 14:52:43,370 INFO sqlalchemy.engine.Engine COMMIT
✅ Sales's Regions inserted successfully.
2025-08-06 14:52:43,372 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-06 14:52:43,374 INFO sqlalchemy.engine.Engine SELECT sales.channels.channel_id AS sales_channels_channel_id, sales.channels.channel_name AS sales_channels_channel_name
FROM sales.channels
2025-08-06 14:52:43,375 INFO sqlalchemy.engine.Engine [generated in 0.00110s] {}
2025-08-06 14:52:43,380 INFO sqlalchemy.engine.Engine INSERT INTO sales.channels (channel_name) SELECT p0::VARCHAR FROM (VALUES (%(channel_name__0)s, 0), (%(channel_name__1)s, 1), (%(channel_name__2)s, 2), (%(channel_name__3)s, 3)) AS imp_sen(p0, sen_counter) ORDER BY sen_counter RETURNING sales.channels.channel_id, sales.channels.channel_id AS channel_id__1
2025-08-06 14:52:43,381 INFO sqlalchemy.engine.Engine [generated in 0.00012s (insertmanyvalues) 1/1 (ordered)] {'channel_name__0': 'Online', 'channel_name__1': 'In-Store', 'channel_name__2': 'Mobile App', 'channel_name__3': 'Call Center'}
2025-08-06 14:52:43,384 INFO sqlalchemy.engine.Engine COMMIT
✅ Sales's Channels inserted successfully.
2025-08-06 14:52:43,388 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-06 14:52:43,389 INFO sqlalchemy.engine.Engine SELECT customers.customers.customer_id AS customers_customers_customer_id, customers.customers.customer_name AS customers_customers_customer_name, customers.customers.email AS customers_customers_email, customers.customers.phone AS customers_customers_phone, customers.customers.signup_date AS customers_customers_signup_date
FROM customers.customers
2025-08-06 14:52:43,389 INFO sqlalchemy.engine.Engine [cached since 18.19s ago] {}
2025-08-06 14:52:43,463 INFO sqlalchemy.engine.Engine SELECT sales.regions.region_id AS sales_regions_region_id, sales.regions.region_name AS sales_regions_region_name
FROM sales.regions
2025-08-06 14:52:43,465 INFO sqlalchemy.engine.Engine [cached since 0.1047s ago] {}
2025-08-06 14:52:43,468 INFO sqlalchemy.engine.Engine SELECT sales.channels.channel_id AS sales_channels_channel_id, sales.channels.channel_name AS sales_channels_channel_name
FROM sales.channels
2025-08-06 14:52:43,470 INFO sqlalchemy.engine.Engine [cached since 0.09677s ago] {}
2025-08-06 14:52:44,210 INFO sqlalchemy.engine.Engine INSERT INTO sales.orders (customer_id, region_id, channel_id, order_date, total_amount) SELECT p0::INTEGER, p1::INTEGER, p2::INTEGER, p3::DATE, p4::NUMERIC(10, 2) FROM (VALUES (%(customer_id__0)s, %(region_id__0)s, %(channel_id__0)s, %(order_date__0) ... 113300 characters truncated ... _counter) ORDER BY sen_counter RETURNING sales.orders.order_id, sales.orders.order_id AS order_id__1
2025-08-06 14:52:44,211 INFO sqlalchemy.engine.Engine [generated in 0.02696s (insertmanyvalues) 1/6 (ordered)] {'customer_id__0': 1705, 'region_id__0': 3, 'channel_id__0': 2, 'order_date__0': datetime.date(2025, 1, 29), 'total_amount__0': 9659.9, 'customer_id__1': 26, 'region_id__1': 5, 'channel_id__1': 1, 'order_date__1': datetime.date(2024, 8, 10), 'total_amount__1': 4140.35, 'customer_id__2': 2784, 'region_id__2': 4, 'channel_id__2': 4, 'order_date__2': datetime.date(2025, 4, 19), 'total_amount__2': 2480.39, 'customer_id__3': 2284, 'region_id__3': 4, 'channel_id__3': 3, 'order_date__3': datetime.date(2025, 6, 23), 'total_amount__3': 2362.01, 'customer_id__4': 658, 'region_id__4': 4, 'channel_id__4': 4, 'order_date__4': datetime.date(2024, 12, 17), 'total_amount__4': 5557.6, 'customer_id__5': 1697, 'region_id__5': 6, 'channel_id__5': 3, 'order_date__5': datetime.date(2024, 11, 30), 'total_amount__5': 7063.73, 'customer_id__6': 2640, 'region_id__6': 1, 'channel_id__6': 2, 'order_date__6': datetime.date(2024, 9, 25), 'total_amount__6': 1390.86, 'customer_id__7': 428, 'region_id__7': 2, 'channel_id__7': 4, 'order_date__7': datetime.date(2024, 12, 15), 'total_amount__7': 6657.73, 'customer_id__8': 573, 'region_id__8': 2, 'channel_id__8': 3, 'order_date__8': datetime.date(2025, 1, 27), 'total_amount__8': 8847.15, 'customer_id__9': 2175, 'region_id__9': 3, 'channel_id__9': 1, 'order_date__9': datetime.date(2025, 4, 23), 'total_amount__9': 2292.88 ... 4900 parameters truncated ... 'customer_id__990': 704, 'region_id__990': 1, 'channel_id__990': 3, 'order_date__990': datetime.date(2025, 1, 23), 'total_amount__990': 2134.72, 'customer_id__991': 2990, 'region_id__991': 6, 'channel_id__991': 4, 'order_date__991': datetime.date(2024, 10, 6), 'total_amount__991': 7901.08, 'customer_id__992': 2861, 'region_id__992': 3, 'channel_id__992': 1, 'order_date__992': datetime.date(2024, 8, 6), 'total_amount__992': 9718.86, 'customer_id__993': 631, 'region_id__993': 1, 'channel_id__993': 2, 'order_date__993': datetime.date(2024, 9, 10), 'total_amount__993': 4868.78, 'customer_id__994': 1434, 'region_id__994': 5, 'channel_id__994': 4, 'order_date__994': datetime.date(2025, 4, 23), 'total_amount__994': 7754.74, 'customer_id__995': 2839, 'region_id__995': 3, 'channel_id__995': 3, 'order_date__995': datetime.date(2025, 5, 10), 'total_amount__995': 3239.6, 'customer_id__996': 2406, 'region_id__996': 3, 'channel_id__996': 2, 'order_date__996': datetime.date(2025, 3, 30), 'total_amount__996': 3626.21, 'customer_id__997': 2490, 'region_id__997': 1, 'channel_id__997': 1, 'order_date__997': datetime.date(2025, 7, 25), 'total_amount__997': 6724.53, 'customer_id__998': 767, 'region_id__998': 4, 'channel_id__998': 2, 'order_date__998': datetime.date(2024, 8, 8), 'total_amount__998': 817.26, 'customer_id__999': 1273, 'region_id__999': 5, 'channel_id__999': 1, 'order_date__999': datetime.date(2024, 12, 27), 'total_amount__999': 5498.35}
2025-08-06 14:52:44,273 INFO sqlalchemy.engine.Engine INSERT INTO sales.orders (customer_id, region_id, channel_id, order_date, total_amount) SELECT p0::INTEGER, p1::INTEGER, p2::INTEGER, p3::DATE, p4::NUMERIC(10, 2) FROM (VALUES (%(customer_id__0)s, %(region_id__0)s, %(channel_id__0)s, %(order_date__0) ... 113300 characters truncated ... _counter) ORDER BY sen_counter RETURNING sales.orders.order_id, sales.orders.order_id AS order_id__1
2025-08-06 14:52:44,273 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/6 (ordered)] {'customer_id__0': 2880, 'region_id__0': 3, 'channel_id__0': 2, 'order_date__0': datetime.date(2024, 11, 25), 'total_amount__0': 9224.32, 'customer_id__1': 2013, 'region_id__1': 1, 'channel_id__1': 4, 'order_date__1': datetime.date(2024, 11, 27), 'total_amount__1': 838.68, 'customer_id__2': 707, 'region_id__2': 2, 'channel_id__2': 2, 'order_date__2': datetime.date(2024, 10, 10), 'total_amount__2': 5155.28, 'customer_id__3': 2180, 'region_id__3': 6, 'channel_id__3': 4, 'order_date__3': datetime.date(2025, 7, 3), 'total_amount__3': 4148.71, 'customer_id__4': 1001, 'region_id__4': 1, 'channel_id__4': 4, 'order_date__4': datetime.date(2025, 4, 28), 'total_amount__4': 2431.76, 'customer_id__5': 2311, 'region_id__5': 3, 'channel_id__5': 2, 'order_date__5': datetime.date(2024, 12, 2), 'total_amount__5': 2476.45, 'customer_id__6': 214, 'region_id__6': 1, 'channel_id__6': 1, 'order_date__6': datetime.date(2025, 2, 12), 'total_amount__6': 9738.1, 'customer_id__7': 1484, 'region_id__7': 5, 'channel_id__7': 2, 'order_date__7': datetime.date(2024, 12, 1), 'total_amount__7': 6909.87, 'customer_id__8': 1548, 'region_id__8': 3, 'channel_id__8': 4, 'order_date__8': datetime.date(2025, 1, 16), 'total_amount__8': 9856.28, 'customer_id__9': 2813, 'region_id__9': 2, 'channel_id__9': 2, 'order_date__9': datetime.date(2024, 12, 14), 'total_amount__9': 3125.72 ... 4900 parameters truncated ... 'customer_id__990': 1456, 'region_id__990': 1, 'channel_id__990': 3, 'order_date__990': datetime.date(2025, 8, 2), 'total_amount__990': 4155.67, 'customer_id__991': 1549, 'region_id__991': 6, 'channel_id__991': 2, 'order_date__991': datetime.date(2025, 5, 22), 'total_amount__991': 4674.75, 'customer_id__992': 2052, 'region_id__992': 5, 'channel_id__992': 3, 'order_date__992': datetime.date(2025, 1, 3), 'total_amount__992': 8881.59, 'customer_id__993': 1087, 'region_id__993': 1, 'channel_id__993': 1, 'order_date__993': datetime.date(2025, 3, 10), 'total_amount__993': 6120.54, 'customer_id__994': 1336, 'region_id__994': 5, 'channel_id__994': 1, 'order_date__994': datetime.date(2024, 9, 20), 'total_amount__994': 5289.69, 'customer_id__995': 130, 'region_id__995': 3, 'channel_id__995': 1, 'order_date__995': datetime.date(2024, 9, 13), 'total_amount__995': 4293.77, 'customer_id__996': 949, 'region_id__996': 1, 'channel_id__996': 1, 'order_date__996': datetime.date(2024, 11, 17), 'total_amount__996': 1497.19, 'customer_id__997': 185, 'region_id__997': 2, 'channel_id__997': 3, 'order_date__997': datetime.date(2024, 10, 10), 'total_amount__997': 4969.03, 'customer_id__998': 2663, 'region_id__998': 5, 'channel_id__998': 1, 'order_date__998': datetime.date(2025, 2, 11), 'total_amount__998': 6477.27, 'customer_id__999': 1679, 'region_id__999': 5, 'channel_id__999': 4, 'order_date__999': datetime.date(2024, 12, 1), 'total_amount__999': 5941.63}
2025-08-06 14:52:44,330 INFO sqlalchemy.engine.Engine INSERT INTO sales.orders (customer_id, region_id, channel_id, order_date, total_amount) SELECT p0::INTEGER, p1::INTEGER, p2::INTEGER, p3::DATE, p4::NUMERIC(10, 2) FROM (VALUES (%(customer_id__0)s, %(region_id__0)s, %(channel_id__0)s, %(order_date__0) ... 113300 characters truncated ... _counter) ORDER BY sen_counter RETURNING sales.orders.order_id, sales.orders.order_id AS order_id__1
2025-08-06 14:52:44,332 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/6 (ordered)] {'customer_id__0': 1836, 'region_id__0': 1, 'channel_id__0': 2, 'order_date__0': datetime.date(2025, 3, 3), 'total_amount__0': 7117.44, 'customer_id__1': 2949, 'region_id__1': 5, 'channel_id__1': 4, 'order_date__1': datetime.date(2024, 10, 8), 'total_amount__1': 6408.89, 'customer_id__2': 1333, 'region_id__2': 5, 'channel_id__2': 3, 'order_date__2': datetime.date(2024, 11, 13), 'total_amount__2': 1306.82, 'customer_id__3': 1443, 'region_id__3': 2, 'channel_id__3': 4, 'order_date__3': datetime.date(2025, 4, 7), 'total_amount__3': 9382.11, 'customer_id__4': 53, 'region_id__4': 2, 'channel_id__4': 1, 'order_date__4': datetime.date(2025, 3, 17), 'total_amount__4': 8721.52, 'customer_id__5': 1022, 'region_id__5': 2, 'channel_id__5': 2, 'order_date__5': datetime.date(2025, 7, 13), 'total_amount__5': 1947.81, 'customer_id__6': 74, 'region_id__6': 5, 'channel_id__6': 4, 'order_date__6': datetime.date(2024, 12, 9), 'total_amount__6': 2068.06, 'customer_id__7': 1784, 'region_id__7': 2, 'channel_id__7': 3, 'order_date__7': datetime.date(2025, 1, 23), 'total_amount__7': 3975.1, 'customer_id__8': 2636, 'region_id__8': 4, 'channel_id__8': 4, 'order_date__8': datetime.date(2025, 1, 17), 'total_amount__8': 1430.03, 'customer_id__9': 2164, 'region_id__9': 5, 'channel_id__9': 4, 'order_date__9': datetime.date(2025, 5, 12), 'total_amount__9': 5699.38 ... 4900 parameters truncated ... 'customer_id__990': 489, 'region_id__990': 1, 'channel_id__990': 1, 'order_date__990': datetime.date(2024, 9, 14), 'total_amount__990': 7187.94, 'customer_id__991': 14, 'region_id__991': 6, 'channel_id__991': 4, 'order_date__991': datetime.date(2025, 2, 22), 'total_amount__991': 6614.37, 'customer_id__992': 2891, 'region_id__992': 6, 'channel_id__992': 4, 'order_date__992': datetime.date(2024, 9, 18), 'total_amount__992': 2059.58, 'customer_id__993': 2044, 'region_id__993': 6, 'channel_id__993': 1, 'order_date__993': datetime.date(2024, 8, 10), 'total_amount__993': 8664.21, 'customer_id__994': 2475, 'region_id__994': 5, 'channel_id__994': 4, 'order_date__994': datetime.date(2025, 3, 18), 'total_amount__994': 8818.11, 'customer_id__995': 2640, 'region_id__995': 2, 'channel_id__995': 1, 'order_date__995': datetime.date(2025, 2, 16), 'total_amount__995': 1869.2, 'customer_id__996': 777, 'region_id__996': 3, 'channel_id__996': 2, 'order_date__996': datetime.date(2024, 12, 8), 'total_amount__996': 8109.64, 'customer_id__997': 584, 'region_id__997': 2, 'channel_id__997': 4, 'order_date__997': datetime.date(2025, 5, 31), 'total_amount__997': 1286.65, 'customer_id__998': 1749, 'region_id__998': 2, 'channel_id__998': 3, 'order_date__998': datetime.date(2025, 1, 2), 'total_amount__998': 4116.7, 'customer_id__999': 1703, 'region_id__999': 2, 'channel_id__999': 1, 'order_date__999': datetime.date(2025, 6, 12), 'total_amount__999': 8313.45}
2025-08-06 14:52:44,394 INFO sqlalchemy.engine.Engine INSERT INTO sales.orders (customer_id, region_id, channel_id, order_date, total_amount) SELECT p0::INTEGER, p1::INTEGER, p2::INTEGER, p3::DATE, p4::NUMERIC(10, 2) FROM (VALUES (%(customer_id__0)s, %(region_id__0)s, %(channel_id__0)s, %(order_date__0) ... 113300 characters truncated ... _counter) ORDER BY sen_counter RETURNING sales.orders.order_id, sales.orders.order_id AS order_id__1
2025-08-06 14:52:44,395 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/6 (ordered)] {'customer_id__0': 2121, 'region_id__0': 5, 'channel_id__0': 2, 'order_date__0': datetime.date(2025, 3, 22), 'total_amount__0': 1108.43, 'customer_id__1': 280, 'region_id__1': 4, 'channel_id__1': 4, 'order_date__1': datetime.date(2025, 7, 12), 'total_amount__1': 8767.25, 'customer_id__2': 315, 'region_id__2': 6, 'channel_id__2': 2, 'order_date__2': datetime.date(2024, 10, 26), 'total_amount__2': 9781.45, 'customer_id__3': 1845, 'region_id__3': 4, 'channel_id__3': 3, 'order_date__3': datetime.date(2025, 1, 7), 'total_amount__3': 2530.28, 'customer_id__4': 1072, 'region_id__4': 3, 'channel_id__4': 2, 'order_date__4': datetime.date(2024, 8, 30), 'total_amount__4': 5941.92, 'customer_id__5': 2797, 'region_id__5': 5, 'channel_id__5': 3, 'order_date__5': datetime.date(2025, 1, 27), 'total_amount__5': 8089.48, 'customer_id__6': 1698, 'region_id__6': 6, 'channel_id__6': 4, 'order_date__6': datetime.date(2025, 4, 3), 'total_amount__6': 9097.22, 'customer_id__7': 2937, 'region_id__7': 4, 'channel_id__7': 3, 'order_date__7': datetime.date(2025, 6, 3), 'total_amount__7': 4284.87, 'customer_id__8': 1891, 'region_id__8': 5, 'channel_id__8': 4, 'order_date__8': datetime.date(2025, 6, 26), 'total_amount__8': 4332.1, 'customer_id__9': 2157, 'region_id__9': 4, 'channel_id__9': 4, 'order_date__9': datetime.date(2024, 10, 24), 'total_amount__9': 1636.48 ... 4900 parameters truncated ... 'customer_id__990': 2448, 'region_id__990': 4, 'channel_id__990': 1, 'order_date__990': datetime.date(2025, 5, 9), 'total_amount__990': 9698.51, 'customer_id__991': 801, 'region_id__991': 2, 'channel_id__991': 2, 'order_date__991': datetime.date(2025, 4, 16), 'total_amount__991': 2202.39, 'customer_id__992': 2227, 'region_id__992': 2, 'channel_id__992': 1, 'order_date__992': datetime.date(2025, 1, 29), 'total_amount__992': 9517.77, 'customer_id__993': 2885, 'region_id__993': 2, 'channel_id__993': 4, 'order_date__993': datetime.date(2024, 11, 18), 'total_amount__993': 4427.3, 'customer_id__994': 2969, 'region_id__994': 4, 'channel_id__994': 2, 'order_date__994': datetime.date(2025, 7, 31), 'total_amount__994': 6174.06, 'customer_id__995': 2956, 'region_id__995': 1, 'channel_id__995': 4, 'order_date__995': datetime.date(2025, 2, 19), 'total_amount__995': 1970.75, 'customer_id__996': 1198, 'region_id__996': 3, 'channel_id__996': 1, 'order_date__996': datetime.date(2025, 6, 9), 'total_amount__996': 4167.65, 'customer_id__997': 154, 'region_id__997': 6, 'channel_id__997': 2, 'order_date__997': datetime.date(2025, 4, 24), 'total_amount__997': 4360.98, 'customer_id__998': 2593, 'region_id__998': 6, 'channel_id__998': 3, 'order_date__998': datetime.date(2025, 5, 10), 'total_amount__998': 5690.99, 'customer_id__999': 2041, 'region_id__999': 3, 'channel_id__999': 1, 'order_date__999': datetime.date(2025, 7, 21), 'total_amount__999': 6638.06}
2025-08-06 14:52:44,452 INFO sqlalchemy.engine.Engine INSERT INTO sales.orders (customer_id, region_id, channel_id, order_date, total_amount) SELECT p0::INTEGER, p1::INTEGER, p2::INTEGER, p3::DATE, p4::NUMERIC(10, 2) FROM (VALUES (%(customer_id__0)s, %(region_id__0)s, %(channel_id__0)s, %(order_date__0) ... 113300 characters truncated ... _counter) ORDER BY sen_counter RETURNING sales.orders.order_id, sales.orders.order_id AS order_id__1

# Inventory Schema & Table's

In [15]:
# Warehouses
class Warehouses(Base):
    __tablename__ = 'warehouses'
    __table_args__ = {'schema': 'inventory', 'extend_existing': True}

    warehouse_id = Column(Integer, primary_key=True)
    warehouse_name = Column(String(100))
    location = Column(String(100))

# Stock
class Stock(Base):
    __tablename__ = 'stock'
    __table_args__ = {'schema': 'inventory', 'extend_existing': True}

    stock_id = Column(Integer, primary_key=True)
    product_id = Column(Integer)
    warehouse_id = Column(Integer)
    quantity = Column(Integer, nullable=False)
    last_updated = Column(DateTime, default=datetime.now)

# Shipments
class Shipments(Base):
    __tablename__ = 'shipments'
    __table_args__ = {'schema': 'inventory', 'extend_existing': True}

    shipment_id = Column(Integer, primary_key=True)
    warehouse_id = Column(Integer)
    shipment_date = Column(Date)
    arrival_date = Column(Date)

# Supplies
class Supplies(Base):
    __tablename__ = 'supplies'
    __table_args__ = {'schema': 'inventory', 'extend_existing': True}

    supply_id = Column(Integer, primary_key=True)
    shipment_id = Column(Integer)
    product_id = Column(Integer)
    quantity = Column(Integer)

# Inventory Adjustments
class InventoryAdjustments(Base):
    __tablename__ = 'inventory_adjustments'
    __table_args__ = {'schema': 'inventory', 'extend_existing': True}

    adjustment_id = Column(Integer, primary_key=True)
    stock_id = Column(Integer)
    product_id = Column(Integer)
    adjustment_date = Column(Date)
    adjustment_qty = Column(Integer)
    reason = Column(String(255))

#--------------------------------------------------------INSERTION PROCESS---------------------------------------------------------------------------------------------------------------------

# Warehouses Insert
supplier_names = [
    "PepsiCo India Distributors", "Parle Agro Traders",
    "Haldiram Wholesale", "Balaji Wafers Pvt. Ltd.",
    "Amul Dairy Co-op", "Mother Dairy Foods",
    "ITC Frozen Foods Ltd.", "Godrej Yummiez Suppliers",
    "Reliance Fresh Produce", "Big Basket Fresh Distributors",
    "HUL Personal Care", "Godrej Consumer Goods"
]

def insert_warehouses_data():
    session = get_session()
    existing_names = {w.warehouse_name for w in session.query(Warehouses).all()}
    warehouses_list = []

    for name in supplier_names:
        if name not in existing_names:
            warehouse = Warehouses(
                warehouse_name=name,
                location=fake.city()
            )
            warehouses_list.append(warehouse)

    if warehouses_list:
        session.add_all(warehouses_list)
        session.commit()

    session.close()
    print(f"✅ Inventory's {len(warehouses_list)} Warehouses inserted successfully from supplier names.")


# Stock Insert
def insert_stock_data(n):
    session = get_session()
    product_ids = [p.product_id for p in session.query(Products).all()]
    warehouse_ids = [w.warehouse_id for w in session.query(Warehouses).all()]
    stock_list = []
    used_pairs = set()  # 🔹 Track unique (product_id, warehouse_id)

    for _ in range(n):
        tries = 0
        while tries < 10:
            product_id = random.choice(product_ids)
            warehouse_id = random.choice(warehouse_ids)
            pair = (product_id, warehouse_id)

            if pair not in used_pairs:
                used_pairs.add(pair)
                quantity = random.randint(10, 100)

                stock = Stock(
                    product_id=product_id,
                    warehouse_id=warehouse_id,
                    quantity=quantity
                )
                stock_list.append(stock)
                break  # ✅ valid unique pair found
            tries += 1  # ⏱ retry for new combination

    session.add_all(stock_list)
    session.commit()
    session.close()
    print(f"✅ {len(stock_list)} Inventory's Stock inserted successfully.")

# Shipments Insert
def insert_shipments_data(n):
    session = get_session()
    warehouse_ids = [w.warehouse_id for w in session.query(Warehouses).all()]
    shipment_list = []

    for _ in range(n):
        shipment_date = fake.date_between(start_date='-1y', end_date='-10d')
        arrival_date = fake.date_between(start_date=shipment_date, end_date='today')
        shipment = Shipments(
            warehouse_id = random.choice(warehouse_ids),
            shipment_date = shipment_date,
            arrival_date = arrival_date
        )
        shipment_list.append(shipment)

    session.add_all(shipment_list)
    session.commit()
    session.close()
    print(f"✅ {n} Inventory's Shipments inserted successfully.")


# Supplies Insert
def insert_supplies_data(n):
    session = get_session()
    shipment_ids = [s.shipment_id for s in session.query(Shipments).all()]
    product_ids = [p.product_id for p in session.query(Products).all()]
    supply_list = []

    for _ in range(n):
        supply = Supplies(
            shipment_id = random.choice(shipment_ids),
            product_id = random.choice(product_ids),
            quantity = random.randint(5, 50)
        )
        supply_list.append(supply)

    session.add_all(supply_list)
    session.commit()
    session.close()
    print(f"✅ {n} Inventory's Supplies inserted successfully.")


# Inventory Adjustments Insert
def insert_inventory_adjustments_data(n):
    session = get_session()
    stock_ids = [s.stock_id for s in session.query(Stock).all()]
    product_ids = [p.product_id for p in session.query(Products).all()]
    reasons = ["Damage", "Theft", "Manual Correction", "Return", "Inventory Check"]
    adjustments = []

    for _ in range(n):
        adj = InventoryAdjustments(
            stock_id = random.choice(stock_ids),
            product_id = random.choice(product_ids),
            adjustment_date = fake.date_between(start_date='-6m', end_date='today'),
            adjustment_qty = random.randint(-10, 10),
            reason = random.choice(reasons)
        )
        adjustments.append(adj)

    session.add_all(adjustments)
    session.commit()
    session.close()
    print(f"✅ {n} Inventory Adjustments inserted successfully.")



insert_warehouses_data()
insert_stock_data(2000)
insert_shipments_data(800)
insert_supplies_data(1200)
insert_inventory_adjustments_data(800)

2025-08-06 14:52:54,648 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-06 14:52:54,650 INFO sqlalchemy.engine.Engine SELECT inventory.warehouses.warehouse_id AS inventory_warehouses_warehouse_id, inventory.warehouses.warehouse_name AS inventory_warehouses_warehouse_name, inventory.warehouses.location AS inventory_warehouses_location
FROM inventory.warehouses
2025-08-06 14:52:54,652 INFO sqlalchemy.engine.Engine [generated in 0.00133s] {}
2025-08-06 14:52:54,657 INFO sqlalchemy.engine.Engine INSERT INTO inventory.warehouses (warehouse_name, location) SELECT p0::VARCHAR, p1::VARCHAR FROM (VALUES (%(warehouse_name__0)s, %(location__0)s, 0), (%(warehouse_name__1)s, %(location__1)s, 1), (%(warehouse_name__2)s, %(location__2)s, 2), (%(warehou ... 451 characters truncated ... er RETURNING inventory.warehouses.warehouse_id, inventory.warehouses.warehouse_id AS warehouse_id__1
2025-08-06 14:52:54,659 INFO sqlalchemy.engine.Engine [generated in 0.00014s (insertmanyvalues) 1/1 (ordered)] {'warehouse_name__0': 'PepsiCo India Distributors', 'location__0': 'Mangalore', 'warehouse_name__1': 'Parle Agro Traders', 'location__1': 'Bidhannagar', 'warehouse_name__2': 'Haldiram Wholesale', 'location__2': 'Durg', 'warehouse_name__3': 'Balaji Wafers Pvt. Ltd.', 'location__3': 'Karawal Nagar', 'warehouse_name__4': 'Amul Dairy Co-op', 'location__4': 'Patna', 'warehouse_name__5': 'Mother Dairy Foods', 'location__5': 'Dewas', 'warehouse_name__6': 'ITC Frozen Foods Ltd.', 'location__6': 'Davanagere', 'warehouse_name__7': 'Godrej Yummiez Suppliers', 'location__7': 'Dhanbad', 'warehouse_name__8': 'Reliance Fresh Produce', 'location__8': 'Panipat', 'warehouse_name__9': 'Big Basket Fresh Distributors', 'location__9': 'Bhalswa Jahangir Pur', 'warehouse_name__10': 'HUL Personal Care', 'location__10': 'Pali', 'warehouse_name__11': 'Godrej Consumer Goods', 'location__11': 'Kolkata'}
2025-08-06 14:52:54,662 INFO sqlalchemy.engine.Engine COMMIT
✅ Inventory's 12 Warehouses inserted successfully from supplier names.
2025-08-06 14:52:54,665 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-06 14:52:54,667 INFO sqlalchemy.engine.Engine SELECT products.products.product_id AS products_products_product_id, products.products.product_name AS products_products_product_name, products.products.category_id AS products_products_category_id, products.products.price AS products_products_price, products.products.supplier_id AS products_products_supplier_id
FROM products.products
2025-08-06 14:52:54,668 INFO sqlalchemy.engine.Engine [cached since 22.58s ago] {}
2025-08-06 14:52:54,697 INFO sqlalchemy.engine.Engine SELECT inventory.warehouses.warehouse_id AS inventory_warehouses_warehouse_id, inventory.warehouses.warehouse_name AS inventory_warehouses_warehouse_name, inventory.warehouses.location AS inventory_warehouses_location
FROM inventory.warehouses
2025-08-06 14:52:54,699 INFO sqlalchemy.engine.Engine [cached since 0.04903s ago] {}
2025-08-06 14:52:54,819 INFO sqlalchemy.engine.Engine INSERT INTO inventory.stock (product_id, warehouse_id, quantity, last_updated) SELECT p0::INTEGER, p1::INTEGER, p2::INTEGER, p3::TIMESTAMP WITHOUT TIME ZONE FROM (VALUES (%(product_id__0)s, %(warehouse_id__0)s, %(quantity__0)s, %(last_updated__0)s, 0 ... 92406 characters truncated ... er) ORDER BY sen_counter RETURNING inventory.stock.stock_id, inventory.stock.stock_id AS stock_id__1
2025-08-06 14:52:54,821 INFO sqlalchemy.engine.Engine [generated in 0.00637s (insertmanyvalues) 1/2 (ordered)] {'product_id__0': 869, 'quantity__0': 16, 'warehouse_id__0': 8, 'last_updated__0': datetime.datetime(2025, 8, 6, 14, 52, 54, 812916), 'product_id__1': 724, 'quantity__1': 48, 'warehouse_id__1': 3, 'last_updated__1': datetime.datetime(2025, 8, 6, 14, 52, 54, 812921), 'product_id__2': 118, 'quantity__2': 83, 'warehouse_id__2': 3, 'last_updated__2': datetime.datetime(2025, 8, 6, 14, 52, 54, 812922), 'product_id__3': 865, 'quantity__3': 41, 'warehouse_id__3': 8, 'last_updated__3': datetime.datetime(2025, 8, 6, 14, 52, 54, 812923), 'product_id__4': 532, 'quantity__4': 44, 'warehouse_id__4': 11, 'last_updated__4': datetime.datetime(2025, 8, 6, 14, 52, 54, 812924), 'product_id__5': 354, 'quantity__5': 42, 'warehouse_id__5': 8, 'last_updated__5': datetime.datetime(2025, 8, 6, 14, 52, 54, 812925), 'product_id__6': 178, 'quantity__6': 94, 'warehouse_id__6': 1, 'last_updated__6': datetime.datetime(2025, 8, 6, 14, 52, 54, 812926), 'product_id__7': 266, 'quantity__7': 62, 'warehouse_id__7': 4, 'last_updated__7': datetime.datetime(2025, 8, 6, 14, 52, 54, 812927), 'product_id__8': 818, 'quantity__8': 64, 'warehouse_id__8': 6, 'last_updated__8': datetime.datetime(2025, 8, 6, 14, 52, 54, 812928), 'product_id__9': 465, 'quantity__9': 92, 'warehouse_id__9': 7, 'last_updated__9': datetime.datetime(2025, 8, 6, 14, 52, 54, 812929), 'product_id__10': 960, 'quantity__10': 18, 'warehouse_id__10': 3, 'last_updated__10': datetime.datetime(2025, 8, 6, 14, 52, 54, 812930), 'product_id__11': 677, 'quantity__11': 25, 'warehouse_id__11': 2, 'last_updated__11': datetime.datetime(2025, 8, 6, 14, 52, 54, 812931), 'product_id__12': 682, 'quantity__12': 25 ... 3900 parameters truncated ... 'warehouse_id__987': 9, 'last_updated__987': datetime.datetime(2025, 8, 6, 14, 52, 54, 813760), 'product_id__988': 948, 'quantity__988': 13, 'warehouse_id__988': 8, 'last_updated__988': datetime.datetime(2025, 8, 6, 14, 52, 54, 813761), 'product_id__989': 35, 'quantity__989': 45, 'warehouse_id__989': 9, 'last_updated__989': datetime.datetime(2025, 8, 6, 14, 52, 54, 813762), 'product_id__990': 899, 'quantity__990': 46, 'warehouse_id__990': 6, 'last_updated__990': datetime.datetime(2025, 8, 6, 14, 52, 54, 813762), 'product_id__991': 272, 'quantity__991': 56, 'warehouse_id__991': 7, 'last_updated__991': datetime.datetime(2025, 8, 6, 14, 52, 54, 813763), 'product_id__992': 16, 'quantity__992': 12, 'warehouse_id__992': 11, 'last_updated__992': datetime.datetime(2025, 8, 6, 14, 52, 54, 813763), 'product_id__993': 651, 'quantity__993': 60, 'warehouse_id__993': 9, 'last_updated__993': datetime.datetime(2025, 8, 6, 14, 52, 54, 813765), 'product_id__994': 706, 'quantity__994': 23, 'warehouse_id__994': 9, 'last_updated__994': datetime.datetime(2025, 8, 6, 14, 52, 54, 813765), 'product_id__995': 507, 'quantity__995': 37, 'warehouse_id__995': 6, 'last_updated__995': datetime.datetime(2025, 8, 6, 14, 52, 54, 813766), 'product_id__996': 233, 'quantity__996': 62, 'warehouse_id__996': 9, 'last_updated__996': datetime.datetime(2025, 8, 6, 14, 52, 54, 813767), 'product_id__997': 562, 'quantity__997': 74, 'warehouse_id__997': 3, 'last_updated__997': datetime.datetime(2025, 8, 6, 14, 52, 54, 813767), 'product_id__998': 586, 'quantity__998': 15, 'warehouse_id__998': 3, 'last_updated__998': datetime.datetime(2025, 8, 6, 14, 52, 54, 813768), 'product_id__999': 544, 'quantity__999': 77, 'warehouse_id__999': 4, 'last_updated__999': datetime.datetime(2025, 8, 6, 14, 52, 54, 813769)}
2025-08-06 14:52:54,886 INFO sqlalchemy.engine.Engine INSERT INTO inventory.stock (product_id, warehouse_id, quantity, last_updated) SELECT p0::INTEGER, p1::INTEGER, p2::INTEGER, p3::TIMESTAMP WITHOUT TIME ZONE FROM (VALUES (%(product_id__0)s, %(warehouse_id__0)s, %(quantity__0)s, %(last_updated__0)s, 0 ... 92406 characters truncated ... er) ORDER BY sen_counter RETURNING inventory.stock.stock_id, inventory.stock.stock_id AS stock_id__1
2025-08-06 14:52:54,887 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered)] {'product_id__0': 585, 'quantity__0': 68, 'warehouse_id__0': 7, 'last_updated__0': datetime.datetime(2025, 8, 6, 14, 52, 54, 813769), 'product_id__1': 927, 'quantity__1': 75, 'warehouse_id__1': 5, 'last_updated__1': datetime.datetime(2025, 8, 6, 14, 52, 54, 813770), 'product_id__2': 789, 'quantity__2': 66, 'warehouse_id__2': 12, 'last_updated__2': datetime.datetime(2025, 8, 6, 14, 52, 54, 813771), 'product_id__3': 261, 'quantity__3': 55, 'warehouse_id__3': 8, 'last_updated__3': datetime.datetime(2025, 8, 6, 14, 52, 54, 813771), 'product_id__4': 557, 'quantity__4': 62, 'warehouse_id__4': 10, 'last_updated__4': datetime.datetime(2025, 8, 6, 14, 52, 54, 813772), 'product_id__5': 870, 'quantity__5': 73, 'warehouse_id__5': 4, 'last_updated__5': datetime.datetime(2025, 8, 6, 14, 52, 54, 813773), 'product_id__6': 812, 'quantity__6': 69, 'warehouse_id__6': 9, 'last_updated__6': datetime.datetime(2025, 8, 6, 14, 52, 54, 813774), 'product_id__7': 647, 'quantity__7': 12, 'warehouse_id__7': 4, 'last_updated__7': datetime.datetime(2025, 8, 6, 14, 52, 54, 813774), 'product_id__8': 704, 'quantity__8': 46, 'warehouse_id__8': 9, 'last_updated__8': datetime.datetime(2025, 8, 6, 14, 52, 54, 813775), 'product_id__9': 624, 'quantity__9': 30, 'warehouse_id__9': 9, 'last_updated__9': datetime.datetime(2025, 8, 6, 14, 52, 54, 813776), 'product_id__10': 918, 'quantity__10': 49, 'warehouse_id__10': 7, 'last_updated__10': datetime.datetime(2025, 8, 6, 14, 52, 54, 813776), 'product_id__11': 216, 'quantity__11': 79, 'warehouse_id__11': 10, 'last_updated__11': datetime.datetime(2025, 8, 6, 14, 52, 54, 813777), 'product_id__12': 780, 'quantity__12': 94 ... 3900 parameters truncated ... 'warehouse_id__987': 2, 'last_updated__987': datetime.datetime(2025, 8, 6, 14, 52, 54, 814456), 'product_id__988': 52, 'quantity__988': 65, 'warehouse_id__988': 10, 'last_updated__988': datetime.datetime(2025, 8, 6, 14, 52, 54, 814457), 'product_id__989': 60, 'quantity__989': 80, 'warehouse_id__989': 3, 'last_updated__989': datetime.datetime(2025, 8, 6, 14, 52, 54, 814458), 'product_id__990': 414, 'quantity__990': 96, 'warehouse_id__990': 3, 'last_updated__990': datetime.datetime(2025, 8, 6, 14, 52, 54, 814458), 'product_id__991': 285, 'quantity__991': 54, 'warehouse_id__991': 1, 'last_updated__991': datetime.datetime(2025, 8, 6, 14, 52, 54, 814459), 'product_id__992': 149, 'quantity__992': 31, 'warehouse_id__992': 1, 'last_updated__992': datetime.datetime(2025, 8, 6, 14, 52, 54, 814460), 'product_id__993': 648, 'quantity__993': 72, 'warehouse_id__993': 4, 'last_updated__993': datetime.datetime(2025, 8, 6, 14, 52, 54, 814460), 'product_id__994': 34, 'quantity__994': 15, 'warehouse_id__994': 2, 'last_updated__994': datetime.datetime(2025, 8, 6, 14, 52, 54, 814461), 'product_id__995': 55, 'quantity__995': 95, 'warehouse_id__995': 3, 'last_updated__995': datetime.datetime(2025, 8, 6, 14, 52, 54, 814462), 'product_id__996': 518, 'quantity__996': 63, 'warehouse_id__996': 11, 'last_updated__996': datetime.datetime(2025, 8, 6, 14, 52, 54, 814462), 'product_id__997': 904, 'quantity__997': 74, 'warehouse_id__997': 1, 'last_updated__997': datetime.datetime(2025, 8, 6, 14, 52, 54, 814463), 'product_id__998': 142, 'quantity__998': 94, 'warehouse_id__998': 12, 'last_updated__998': datetime.datetime(2025, 8, 6, 14, 52, 54, 814464), 'product_id__999': 585, 'quantity__999': 61, 'warehouse_id__999': 1, 'last_updated__999': datetime.datetime(2025, 8, 6, 14, 52, 54, 814465)}
2025-08-06 14:52:54,958 INFO sqlalchemy.engine.Engine COMMIT
✅ 2000 Inventory's Stock inserted successfully.
2025-08-06 14:52:54,979 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-06 14:52:54,980 INFO sqlalchemy.engine.Engine SELECT inventory.warehouses.warehouse_id AS inventory_warehouses_warehouse_id, inventory.warehouses.warehouse_name AS inventory_warehouses_warehouse_name, inventory.warehouses.location AS inventory_warehouses_location
FROM inventory.warehouses
2025-08-06 14:52:54,980 INFO sqlalchemy.engine.Engine [cached since 0.33s ago] {}
2025-08-06 14:52:55,074 INFO sqlalchemy.engine.Engine INSERT INTO inventory.shipments (warehouse_id, shipment_date, arrival_date) SELECT p0::INTEGER, p1::DATE, p2::DATE FROM (VALUES (%(warehouse_id__0)s, %(shipment_date__0)s, %(arrival_date__0)s, 0), (%(warehouse_id__1)s, %(shipment_date__1)s, %(arrival ... 61087 characters truncated ... counter RETURNING inventory.shipments.shipment_id, inventory.shipments.shipment_id AS shipment_id__1
2025-08-06 14:52:55,075 INFO sqlalchemy.engine.Engine [generated in 0.00147s (insertmanyvalues) 1/1 (ordered)] {'arrival_date__0': datetime.date(2025, 6, 21), 'shipment_date__0': datetime.date(2025, 6, 19), 'warehouse_id__0': 8, 'arrival_date__1': datetime.date(2025, 6, 30), 'shipment_date__1': datetime.date(2025, 4, 22), 'warehouse_id__1': 8, 'arrival_date__2': datetime.date(2024, 11, 9), 'shipment_date__2': datetime.date(2024, 10, 17), 'warehouse_id__2': 7, 'arrival_date__3': datetime.date(2024, 9, 30), 'shipment_date__3': datetime.date(2024, 8, 14), 'warehouse_id__3': 1, 'arrival_date__4': datetime.date(2025, 6, 27), 'shipment_date__4': datetime.date(2025, 5, 24), 'warehouse_id__4': 12, 'arrival_date__5': datetime.date(2025, 6, 5), 'shipment_date__5': datetime.date(2025, 2, 21), 'warehouse_id__5': 12, 'arrival_date__6': datetime.date(2025, 7, 22), 'shipment_date__6': datetime.date(2025, 6, 15), 'warehouse_id__6': 9, 'arrival_date__7': datetime.date(2025, 7, 13), 'shipment_date__7': datetime.date(2025, 6, 12), 'warehouse_id__7': 2, 'arrival_date__8': datetime.date(2025, 8, 2), 'shipment_date__8': datetime.date(2025, 7, 18), 'warehouse_id__8': 12, 'arrival_date__9': datetime.date(2025, 7, 31), 'shipment_date__9': datetime.date(2025, 1, 7), 'warehouse_id__9': 8, 'arrival_date__10': datetime.date(2025, 5, 1), 'shipment_date__10': datetime.date(2025, 4, 2), 'warehouse_id__10': 5, 'arrival_date__11': datetime.date(2025, 6, 26), 'shipment_date__11': datetime.date(2025, 4, 29), 'warehouse_id__11': 6, 'arrival_date__12': datetime.date(2025, 7, 23), 'shipment_date__12': datetime.date(2024, 9, 13), 'warehouse_id__12': 12, 'arrival_date__13': datetime.date(2025, 6, 27), 'shipment_date__13': datetime.date(2025, 1, 14), 'warehouse_id__13': 7, 'arrival_date__14': datetime.date(2025, 7, 28), 'shipment_date__14': datetime.date(2025, 7, 5), 'warehouse_id__14': 9, 'arrival_date__15': datetime.date(2025, 6, 12), 'shipment_date__15': datetime.date(2025, 4, 22), 'warehouse_id__15': 11, 'arrival_date__16': datetime.date(2025, 7, 20), 'shipment_date__16': datetime.date(2025, 7, 4) ... 2300 parameters truncated ... 'shipment_date__783': datetime.date(2025, 3, 11), 'warehouse_id__783': 4, 'arrival_date__784': datetime.date(2025, 5, 9), 'shipment_date__784': datetime.date(2025, 1, 8), 'warehouse_id__784': 6, 'arrival_date__785': datetime.date(2025, 5, 12), 'shipment_date__785': datetime.date(2024, 8, 8), 'warehouse_id__785': 3, 'arrival_date__786': datetime.date(2025, 7, 16), 'shipment_date__786': datetime.date(2025, 4, 6), 'warehouse_id__786': 7, 'arrival_date__787': datetime.date(2025, 2, 21), 'shipment_date__787': datetime.date(2024, 11, 30), 'warehouse_id__787': 5, 'arrival_date__788': datetime.date(2025, 5, 19), 'shipment_date__788': datetime.date(2024, 10, 30), 'warehouse_id__788': 2, 'arrival_date__789': datetime.date(2024, 12, 16), 'shipment_date__789': datetime.date(2024, 10, 12), 'warehouse_id__789': 1, 'arrival_date__790': datetime.date(2025, 7, 16), 'shipment_date__790': datetime.date(2024, 11, 28), 'warehouse_id__790': 5, 'arrival_date__791': datetime.date(2025, 7, 26), 'shipment_date__791': datetime.date(2025, 6, 12), 'warehouse_id__791': 11, 'arrival_date__792': datetime.date(2025, 7, 12), 'shipment_date__792': datetime.date(2025, 7, 5), 'warehouse_id__792': 6, 'arrival_date__793': datetime.date(2024, 9, 9), 'shipment_date__793': datetime.date(2024, 8, 12), 'warehouse_id__793': 6, 'arrival_date__794': datetime.date(2025, 6, 1), 'shipment_date__794': datetime.date(2025, 5, 8), 'warehouse_id__794': 5, 'arrival_date__795': datetime.date(2025, 5, 1), 'shipment_date__795': datetime.date(2025, 4, 4), 'warehouse_id__795': 8, 'arrival_date__796': datetime.date(2025, 5, 23), 'shipment_date__796': datetime.date(2025, 5, 19), 'warehouse_id__796': 11, 'arrival_date__797': datetime.date(2025, 7, 31), 'shipment_date__797': datetime.date(2025, 3, 26), 'warehouse_id__797': 9, 'arrival_date__798': datetime.date(2025, 6, 2), 'shipment_date__798': datetime.date(2025, 3, 25), 'warehouse_id__798': 11, 'arrival_date__799': datetime.date(2025, 4, 2), 'shipment_date__799': datetime.date(2025, 3, 31), 'warehouse_id__799': 1}
2025-08-06 14:52:55,119 INFO sqlalchemy.engine.Engine COMMIT
✅ 800 Inventory's Shipments inserted successfully.
2025-08-06 14:52:55,128 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-06 14:52:55,131 INFO sqlalchemy.engine.Engine SELECT inventory.shipments.shipment_id AS inventory_shipments_shipment_id, inventory.shipments.warehouse_id AS inventory_shipments_warehouse_id, inventory.shipments.shipment_date AS inventory_shipments_shipment_date, inventory.shipments.arrival_date AS inventory_shipments_arrival_date
FROM inventory.shipments
2025-08-06 14:52:55,135 INFO sqlalchemy.engine.Engine [generated in 0.00427s] {}
2025-08-06 14:52:55,153 INFO sqlalchemy.engine.Engine SELECT products.products.product_id AS products_products_product_id, products.products.product_name AS products_products_product_name, products.products.category_id AS products_products_category_id, products.products.price AS products_products_price, products.products.supplier_id AS products_products_supplier_id
FROM products.products
2025-08-06 14:52:55,154 INFO sqlalchemy.engine.Engine [cached since 23.07s ago] {}
2025-08-06 14:52:55,220 INFO sqlalchemy.engine.Engine INSERT INTO inventory.supplies (shipment_id, product_id, quantity) SELECT p0::INTEGER, p1::INTEGER, p2::INTEGER FROM (VALUES (%(shipment_id__0)s, %(product_id__0)s, %(quantity__0)s, 0), (%(shipment_id__1)s, %(product_id__1)s, %(quantity__1)s, 1), (%( ... 68476 characters truncated ...  BY sen_counter RETURNING inventory.supplies.supply_id, inventory.supplies.supply_id AS supply_id__1

# Finance Schema & table's

In [16]:
# Accounts
class Accounts(Base):
    __tablename__ = 'accounts'
    __table_args__ = {'schema': 'finance', 'extend_existing': True}

    account_id = Column(Integer, primary_key=True)
    account_name = Column(String(100))
    account_type = Column(String(50))

# Expenses
class Expenses(Base):
    __tablename__ = 'expenses'
    __table_args__ = {'schema': 'finance', 'extend_existing': True}

    expense_id = Column(Integer, primary_key=True)
    account_id = Column(Integer)
    product_id = Column(Integer)
    expense_date = Column(Date, nullable=False)
    amount = Column(Numeric(10, 2), nullable=False)
    description = Column(Text)

# Revenues
class Revenues(Base):
    __tablename__ = 'revenues'
    __table_args__ = {'schema': 'finance', 'extend_existing': True}

    revenue_id = Column(Integer, primary_key=True)
    account_id = Column(Integer)
    order_id = Column(Integer)
    revenue_date = Column(Date, nullable=False)
    amount = Column(Numeric(10, 2), nullable=False)
    description = Column(Text)

# Budgets
class Budgets(Base):
    __tablename__ = 'budgets'
    __table_args__ = {'schema': 'finance', 'extend_existing': True}

    budget_id = Column(Integer, primary_key=True)
    account_id = Column(Integer)
    budget_date = Column(Date)
    amount = Column(Numeric(10, 2), nullable=False)

# Transactions
class Transactions(Base):
    __tablename__ = 'transactions'
    __table_args__ = {'schema': 'finance', 'extend_existing': True}

    transaction_id = Column(Integer, primary_key=True)
    account_id = Column(Integer)
    order_id = Column(Integer)
    expense_id = Column(Integer)
    transaction_date = Column(Date, nullable=False)
    amount = Column(Numeric(10, 2), nullable=False)
    transaction_type = Column(String(50))

#---------------------------------------------------------------------------------INSERTION PROCESS-------------------------------------------------------------------------------------------------------

# Accounts Insert
def insert_accounts_data():
    session = get_session()

    existing_names = {a.account_name for a in session.query(Accounts).all()}

    # ✅ Real-world mapping: account_name → account_type
    account_map = {
        "Main Account": "Asset",
        "Savings": "Asset",
        "Marketing Budget": "Expense",
        "Operations": "Expense",
        "IT Account": "Expense",
        "Petty Cash": "Asset"
    }

    accounts_list = []
    for name, acc_type in account_map.items():
        if name not in existing_names:
            accounts_list.append(Accounts(
                account_name=name,
                account_type=acc_type
            ))

    if accounts_list:
        session.add_all(accounts_list)
        session.commit()

    session.close()
    print(f"✅ {len(accounts_list)} Finance accounts inserted successfully.")


# Budgets Insert
def insert_budgets_data(n):
    session = get_session()
    account_ids = [a.account_id for a in session.query(Accounts).all()]

    budget_start = datetime(2023, 4, 1)
    budget_end   = datetime(2024, 3, 31)

    budgets_list = []

    for _ in range(n):
        budgets_list.append(Budgets(
            account_id=random.choice(account_ids),
            budget_date=fake.date_between(budget_start ,budget_end),
            amount=round(random.uniform(500000, 8000000), 2)
        ))

    session.add_all(budgets_list)
    session.commit()
    session.close()
    print(f"✅ {n} Finance budgets inserted successfully.")
    
# Expenses Insert
def insert_expenses_data(n):
    session = get_session()
    account_ids = [a.account_id for a in session.query(Accounts).all()]
    product_ids = [p.product_id for p in session.query(Products).all()]
    
    expense_start = datetime(2023, 4, 1)
    expense_end = datetime(2024, 3, 31)

    expense_list = []

    for _ in range(n):
        budget_amount = random.uniform(5000, 30000)  # Small per-expense range
        expense_amount = round(budget_amount * random.uniform(0.1, 1.0), 2)

        expense_list.append(Expenses(
            account_id=random.choice(account_ids),
            product_id=random.choice(product_ids),
            expense_date=fake.date_between(expense_start, expense_end),
            amount=expense_amount,
            description=fake.sentence()
        ))

    session.add_all(expense_list)
    session.commit()
    session.close()
    print(f"✅ {n} Finance expenses inserted successfully.")

# Revenues Insert
def insert_revenues_data(n):
    session = get_session()
    account_ids = [a.account_id for a in session.query(Accounts).all()]
    order_ids = [o.order_id for o in session.query(Orders).all()]
    revenue_list = []

    for _ in range(n):
        revenue_list.append(Revenues(
            account_id=random.choice(account_ids),
            order_id= random.choice(order_ids),
            revenue_date=fake.date_between(start_date='-1y', end_date='today'),
            amount= round(random.uniform(400000, 12000000), 2),
            description=fake.sentence()
        ))

    session.add_all(revenue_list)
    session.commit()
    session.close()
    print(f"✅ {n} Finance revenues inserted successfully.")



# Transactions Insert
def insert_transactions_data(n):
    session = get_session()
    account_ids = [a.account_id for a in session.query(Accounts).all()]
    order_ids = [o.order_id for o in session.query(Orders).all()]
    expense_ids = [e.expense_id for e in session.query(Expenses).all()]
    tx_types = ["Credit", "Debit", "Transfer", "Refund"]
    transactions_list = []

    for _ in range(n):
        transactions_list.append(Transactions(
            account_id=random.choice(account_ids),
            order_id=random.choice(order_ids),
            expense_id=random.choice(expense_ids),
            transaction_date=fake.date_between(start_date='-1y', end_date='today'),
            amount=round(random.uniform(700000, 18000000), 2),
            transaction_type=random.choice(tx_types)
        ))

    session.add_all(transactions_list)
    session.commit()
    session.close()
    print(f"✅ {n} Finance transactions inserted successfully.")


insert_accounts_data()
insert_budgets_data(120)
insert_expenses_data(600)
insert_revenues_data(3000)
insert_transactions_data(1500)

2025-08-06 14:53:01,742 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-06 14:53:01,746 INFO sqlalchemy.engine.Engine SELECT finance.accounts.account_id AS finance_accounts_account_id, finance.accounts.account_name AS finance_accounts_account_name, finance.accounts.account_type AS finance_accounts_account_type
FROM finance.accounts
2025-08-06 14:53:01,747 INFO sqlalchemy.engine.Engine [generated in 0.00156s] {}
2025-08-06 14:53:01,752 INFO sqlalchemy.engine.Engine INSERT INTO finance.accounts (account_name, account_type) SELECT p0::VARCHAR, p1::VARCHAR FROM (VALUES (%(account_name__0)s, %(account_type__0)s, 0), (%(account_name__1)s, %(account_type__1)s, 1), (%(account_name__2)s, %(account_type__2)s, 2), (%(acc ... 171 characters truncated ... R BY sen_counter RETURNING finance.accounts.account_id, finance.accounts.account_id AS account_id__1
2025-08-06 14:53:01,754 INFO sqlalchemy.engine.Engine [generated in 0.00008s (insertmanyvalues) 1/1 (ordered)] {'account_name__0': 'Main Account', 'account_type__0': 'Asset', 'account_name__1': 'Savings', 'account_type__1': 'Asset', 'account_name__2': 'Marketing Budget', 'account_type__2': 'Expense', 'account_name__3': 'Operations', 'account_type__3': 'Expense', 'account_name__4': 'IT Account', 'account_type__4': 'Expense', 'account_name__5': 'Petty Cash', 'account_type__5': 'Asset'}
2025-08-06 14:53:01,757 INFO sqlalchemy.engine.Engine COMMIT
✅ 6 Finance accounts inserted successfully.
2025-08-06 14:53:01,762 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-06 14:53:01,763 INFO sqlalchemy.engine.Engine SELECT finance.accounts.account_id AS finance_accounts_account_id, finance.accounts.account_name AS finance_accounts_account_name, finance.accounts.account_type AS finance_accounts_account_type
FROM finance.accounts
2025-08-06 14:53:01,765 INFO sqlalchemy.engine.Engine [cached since 0.01955s ago] {}
2025-08-06 14:53:01,789 INFO sqlalchemy.engine.Engine INSERT INTO finance.budgets (account_id, budget_date, amount) SELECT p0::INTEGER, p1::DATE, p2::NUMERIC(10, 2) FROM (VALUES (%(account_id__0)s, %(budget_date__0)s, %(amount__0)s, 0), (%(account_id__1)s, %(budget_date__1)s, %(amount__1)s, 1), (%(accou ... 7509 characters truncated ...  ORDER BY sen_counter RETURNING finance.budgets.budget_id, finance.budgets.budget_id AS budget_id__1
2025-08-06 14:53:01,793 INFO sqlalchemy.engine.Engine [generated in 0.00082s (insertmanyvalues) 1/1 (ordered)] {'account_id__0': 5, 'amount__0': 2775106.2, 'budget_date__0': datetime.date(2024, 1, 21), 'account_id__1': 1, 'amount__1': 7867428.64, 'budget_date__1': datetime.date(2024, 1, 14), 'account_id__2': 6, 'amount__2': 2432791.05, 'budget_date__2': datetime.date(2024, 1, 9), 'account_id__3': 4, 'amount__3': 5145495.35, 'budget_date__3': datetime.date(2024, 3, 28), 'account_id__4': 2, 'amount__4': 6715069.84, 'budget_date__4': datetime.date(2024, 1, 13), 'account_id__5': 3, 'amount__5': 781280.63, 'budget_date__5': datetime.date(2023, 8, 15), 'account_id__6': 2, 'amount__6': 7581115.88, 'budget_date__6': datetime.date(2023, 8, 5), 'account_id__7': 5, 'amount__7': 4461362.58, 'budget_date__7': datetime.date(2024, 2, 28), 'account_id__8': 5, 'amount__8': 7409827.77, 'budget_date__8': datetime.date(2023, 7, 7), 'account_id__9': 2, 'amount__9': 1499751.33, 'budget_date__9': datetime.date(2023, 6, 19), 'account_id__10': 6, 'amount__10': 3738932.44, 'budget_date__10': datetime.date(2024, 3, 7), 'account_id__11': 6, 'amount__11': 7771834.4, 'budget_date__11': datetime.date(2023, 9, 5), 'account_id__12': 5, 'amount__12': 1804601.49, 'budget_date__12': datetime.date(2023, 7, 21), 'account_id__13': 3, 'amount__13': 4881574.57, 'budget_date__13': datetime.date(2023, 6, 14), 'account_id__14': 5, 'amount__14': 7054876.66, 'budget_date__14': datetime.date(2023, 12, 21), 'account_id__15': 4, 'amount__15': 2302649.59, 'budget_date__15': datetime.date(2023, 5, 4), 'account_id__16': 3, 'amount__16': 5978547.07 ... 260 parameters truncated ... 'amount__103': 6789269.36, 'budget_date__103': datetime.date(2023, 10, 12), 'account_id__104': 5, 'amount__104': 4468133.75, 'budget_date__104': datetime.date(2023, 4, 17), 'account_id__105': 1, 'amount__105': 5531339.23, 'budget_date__105': datetime.date(2023, 10, 1), 'account_id__106': 4, 'amount__106': 1259296.66, 'budget_date__106': datetime.date(2023, 11, 23), 'account_id__107': 5, 'amount__107': 1082052.1, 'budget_date__107': datetime.date(2023, 11, 14), 'account_id__108': 6, 'amount__108': 1967450.0, 'budget_date__108': datetime.date(2023, 8, 24), 'account_id__109': 2, 'amount__109': 1256836.53, 'budget_date__109': datetime.date(2023, 4, 20), 'account_id__110': 5, 'amount__110': 7798055.8, 'budget_date__110': datetime.date(2023, 7, 26), 'account_id__111': 4, 'amount__111': 6874502.76, 'budget_date__111': datetime.date(2023, 4, 21), 'account_id__112': 3, 'amount__112': 5674488.56, 'budget_date__112': datetime.date(2024, 2, 13), 'account_id__113': 1, 'amount__113': 5138474.42, 'budget_date__113': datetime.date(2024, 3, 13), 'account_id__114': 6, 'amount__114': 1947625.05, 'budget_date__114': datetime.date(2023, 9, 18), 'account_id__115': 1, 'amount__115': 5838868.22, 'budget_date__115': datetime.date(2023, 6, 13), 'account_id__116': 5, 'amount__116': 6630958.82, 'budget_date__116': datetime.date(2023, 12, 31), 'account_id__117': 3, 'amount__117': 6131267.15, 'budget_date__117': datetime.date(2023, 6, 4), 'account_id__118': 3, 'amount__118': 7676659.63, 'budget_date__118': datetime.date(2023, 8, 21), 'account_id__119': 3, 'amount__119': 2266945.06, 'budget_date__119': datetime.date(2023, 5, 30)}
2025-08-06 14:53:01,808 INFO sqlalchemy.engine.Engine COMMIT
✅ 120 Finance budgets inserted successfully.
2025-08-06 14:53:01,814 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-06 14:53:01,816 INFO sqlalchemy.engine.Engine SELECT finance.accounts.account_id AS finance_accounts_account_id, finance.accounts.account_name AS finance_accounts_account_name, finance.accounts.account_type AS finance_accounts_account_type
FROM finance.accounts
2025-08-06 14:53:01,818 INFO sqlalchemy.engine.Engine [cached since 0.07171s ago] {}
2025-08-06 14:53:01,820 INFO sqlalchemy.engine.Engine SELECT products.products.product_id AS products_products_product_id, products.products.product_name AS products_products_product_name, products.products.category_id AS products_products_category_id, products.products.price AS products_products_price, products.products.supplier_id AS products_products_supplier_id
FROM products.products
2025-08-06 14:53:01,821 INFO sqlalchemy.engine.Engine [cached since 29.73s ago] {}

C:\Users\mesuj\AppData\Local\Temp\ipykernel_7916\1669942533.py:45: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Transactions, and will be replaced in the string-lookup table.
  class Transactions(Base):

2025-08-06 14:53:02,071 INFO sqlalchemy.engine.Engine INSERT INTO finance.expenses (account_id, product_id, expense_date, amount, description) SELECT p0::INTEGER, p1::INTEGER, p2::DATE, p3::NUMERIC(10, 2), p4::TEXT FROM (VALUES (%(account_id__0)s, %(product_id__0)s, %(expense_date__0)s, %(amount__0)s, % ... 65912 characters truncated ... R BY sen_counter RETURNING finance.expenses.expense_id, finance.expenses.expense_id AS expense_id__1
2025-08-06 14:53:02,072 INFO sqlalchemy.engine.Engine [generated in 0.00164s (insertmanyvalues) 1/1 (ordered)] {'product_id__0': 835, 'expense_date__0': datetime.date(2023, 4, 3), 'description__0': 'Dolorem quibusdam error omnis quo expedita est.', 'amount__0': 8119.08, 'account_id__0': 6, 'product_id__1': 481, 'expense_date__1': datetime.date(2023, 10, 8), 'description__1': 'Odit id odio officia doloremque perspiciatis delectus suscipit.', 'amount__1': 4135.43, 'account_id__1': 5, 'product_id__2': 441, 'expense_date__2': datetime.date(2023, 6, 11), 'description__2': 'Consequuntur voluptate est voluptas qui autem.', 'amount__2': 12167.51, 'account_id__2': 2, 'product_id__3': 113, 'expense_date__3': datetime.date(2023, 11, 1), 'description__3': 'Totam ad reiciendis quidem.', 'amount__3': 6141.84, 'account_id__3': 4, 'product_id__4': 599, 'expense_date__4': datetime.date(2023, 10, 26), 'description__4': 'Cumque doloremque esse iste distinctio tempore.', 'amount__4': 550.02, 'account_id__4': 6, 'product_id__5': 40, 'expense_date__5': datetime.date(2023, 5, 5), 'description__5': 'Necessitatibus praesentium blanditiis nobis praesentium.', 'amount__5': 21950.02, 'account_id__5': 2, 'product_id__6': 79, 'expense_date__6': datetime.date(2024, 2, 6), 'description__6': 'Illo earum temporibus iusto.', 'amount__6': 2943.4, 'account_id__6': 6, 'product_id__7': 430, 'expense_date__7': datetime.date(2024, 2, 20), 'description__7': 'At ex itaque quis aliquid.', 'amount__7': 5942.45, 'account_id__7': 5, 'product_id__8': 859, 'expense_date__8': datetime.date(2024, 2, 14), 'description__8': 'Fugiat doloribus voluptatibus.', 'amount__8': 1916.67, 'account_id__8': 4, 'product_id__9': 267, 'expense_date__9': datetime.date(2023, 4, 14), 'description__9': 'Quidem neque eligendi cumque eligendi quibusdam amet.', 'amount__9': 1926.48, 'account_id__9': 1 ... 2900 parameters truncated ... 'product_id__590': 898, 'expense_date__590': datetime.date(2024, 2, 25), 'description__590': 'Impedit corrupti facilis dolorum modi repellat.', 'amount__590': 20717.85, 'account_id__590': 4, 'product_id__591': 141, 'expense_date__591': datetime.date(2023, 12, 4), 'description__591': 'Expedita eius fugiat quibusdam sint porro.', 'amount__591': 14578.26, 'account_id__591': 5, 'product_id__592': 725, 'expense_date__592': datetime.date(2023, 8, 7), 'description__592': 'Ullam quasi quidem eaque quod perferendis.', 'amount__592': 4543.87, 'account_id__592': 4, 'product_id__593': 543, 'expense_date__593': datetime.date(2023, 8, 2), 'description__593': 'Id veritatis nam alias molestias explicabo quae.', 'amount__593': 8936.84, 'account_id__593': 3, 'product_id__594': 850, 'expense_date__594': datetime.date(2023, 9, 11), 'description__594': 'Velit voluptatum voluptates inventore.', 'amount__594': 12893.6, 'account_id__594': 2, 'product_id__595': 769, 'expense_date__595': datetime.date(2024, 3, 11), 'description__595': 'Quasi consectetur harum unde ad repellat praesentium neque.', 'amount__595': 17917.1, 'account_id__595': 1, 'product_id__596': 576, 'expense_date__596': datetime.date(2023, 12, 2), 'description__596': 'Consectetur quibusdam excepturi quos.', 'amount__596': 4737.98, 'account_id__596': 4, 'product_id__597': 767, 'expense_date__597': datetime.date(2024, 3, 4), 'description__597': 'Esse aspernatur consectetur totam voluptas.', 'amount__597': 18298.26, 'account_id__597': 6, 'product_id__598': 796, 'expense_date__598': datetime.date(2024, 3, 23), 'description__598': 'Laboriosam dolorem dolore natus odio.', 'amount__598': 3300.03, 'account_id__598': 6, 'product_id__599': 866, 'expense_date__599': datetime.date(2023, 12, 30), 'description__599': 'Quos ea eaque cupiditate quisquam similique.', 'amount__599': 9347.37, 'account_id__599': 5}
2025-08-06 14:53:02,113 INFO sqlalchemy.engine.Engine COMMIT
✅ 600 Finance expenses inserted successfully.
2025-08-06 14:53:02,122 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-06 14:53:02,123 INFO sqlalchemy.engine.Engine SELECT finance.accounts.account_id AS finance_accounts_account_id, finance.accounts.account_name AS finance_accounts_account_name, finance.accounts.account_type AS finance_accounts_account_type
FROM finance.accounts
2025-08-06 14:53:02,123 INFO sqlalchemy.engine.Engine [cached since 0.3776s ago] {}
2025-08-06 14:53:02,126 INFO sqlalchemy.engine.Engine SELECT sales.orders.order_id AS sales_orders_order_id, sales.orders.customer_id AS sales_orders_customer_id, sales.orders.region_id AS sales_orders_region_id, sales.orders.channel_id AS sales_orders_channel_id, sales.orders.order_date AS sales_orders_order_date, sales.orders.total_amount AS sales_orders_total_amount
FROM sales.orders
2025-08-06 14:53:02,127 INFO sqlalchemy.engine.Engine [cached since 17.43s ago] {}
2025-08-06 14:53:02,564 INFO sqlalchemy.engine.Engine INSERT INTO finance.revenues (account_id, order_id, revenue_date, amount, description) SELECT p0::INTEGER, p1::INTEGER, p2::DATE, p3::NUMERIC(10, 2), p4::TEXT FROM (VALUES (%(account_id__0)s, %(order_id__0)s, %(revenue_date__0)s, %(amount__0)s, %(des ... 108310 characters truncated ... R BY sen_counter RETURNING finance.revenues.revenue_id, finance.revenues.revenue_id AS revenue_id__1
2025-08-06 14:53:02,566 INFO sqlalchemy.engine.Engine [generated in 0.01365s (insertmanyvalues) 1/3 (ordered)] {'description__0': 'Cupiditate alias exercitationem voluptate in.', 'revenue_date__0': datetime.date(2025, 6, 3), 'amount__0': 882611.52, 'account_id__0': 5, 'order_id__0': 2122, 'description__1': 'Adipisci sit dignissimos accusamus iste alias temporibus suscipit.', 'revenue_date__1': datetime.date(2024, 12, 13), 'amount__1': 7549025.87, 'account_id__1': 1, 'order_id__1': 2378, 'description__2': 'Cumque illo commodi.', 'revenue_date__2': datetime.date(2025, 6, 16), 'amount__2': 11049082.2, 'account_id__2': 5, 'order_id__2': 1954, 'description__3': 'Quod dolorem labore cupiditate.', 'revenue_date__3': datetime.date(2025, 7, 28), 'amount__3': 7266818.13, 'account_id__3': 1, 'order_id__3': 3342, 'description__4': 'Laborum suscipit porro qui.', 'revenue_date__4': datetime.date(2025, 2, 26), 'amount__4': 10777832.41, 'account_id__4': 3, 'order_id__4': 981, 'description__5': 'Et aperiam labore.', 'revenue_date__5': datetime.date(2025, 2, 25), 'amount__5': 7456829.08, 'account_id__5': 2, 'order_id__5': 5742, 'description__6': 'Dicta necessitatibus neque non.', 'revenue_date__6': datetime.date(2025, 5, 3), 'amount__6': 6052460.69, 'account_id__6': 3, 'order_id__6': 3318, 'description__7': 'Quaerat delectus est.', 'revenue_date__7': datetime.date(2024, 10, 24), 'amount__7': 7457829.66, 'account_id__7': 3, 'order_id__7': 4410, 'description__8': 'Qui facilis fugit debitis.', 'revenue_date__8': datetime.date(2025, 2, 9), 'amount__8': 4706327.81, 'account_id__8': 3, 'order_id__8': 24, 'description__9': 'Eveniet facere rem pariatur minima perspiciatis dolorum quaerat.', 'revenue_date__9': datetime.date(2025, 7, 8), 'amount__9': 11938077.07, 'account_id__9': 4, 'order_id__9': 2931 ... 4900 parameters truncated ... 'description__990': 'Sit accusamus adipisci eum facere aperiam nostrum.', 'revenue_date__990': datetime.date(2025, 5, 28), 'amount__990': 3281957.94, 'account_id__990': 4, 'order_id__990': 4788, 'description__991': 'Voluptatum modi reprehenderit harum dolores quisquam.', 'revenue_date__991': datetime.date(2025, 1, 18), 'amount__991': 9538701.09, 'account_id__991': 3, 'order_id__991': 2263, 'description__992': 'Maxime nisi voluptas facere incidunt.', 'revenue_date__992': datetime.date(2024, 11, 8), 'amount__992': 3053654.02, 'account_id__992': 2, 'order_id__992': 5655, 'description__993': 'A iure consectetur.', 'revenue_date__993': datetime.date(2025, 5, 9), 'amount__993': 6239414.8, 'account_id__993': 3, 'order_id__993': 5864, 'description__994': 'Fugit temporibus magnam similique iure similique.', 'revenue_date__994': datetime.date(2024, 9, 17), 'amount__994': 1409722.23, 'account_id__994': 6, 'order_id__994': 2300, 'description__995': 'Deserunt maxime exercitationem quam suscipit.', 'revenue_date__995': datetime.date(2025, 7, 24), 'amount__995': 11749427.28, 'account_id__995': 5, 'order_id__995': 4899, 'description__996': 'Provident accusantium eveniet ut hic.', 'revenue_date__996': datetime.date(2025, 5, 10), 'amount__996': 11173591.78, 'account_id__996': 5, 'order_id__996': 283, 'description__997': 'Eaque repellat minima ducimus.', 'revenue_date__997': datetime.date(2024, 9, 26), 'amount__997': 4608651.04, 'account_id__997': 6, 'order_id__997': 1754, 'description__998': 'Accusantium unde quam eius quia culpa laborum repellendus.', 'revenue_date__998': datetime.date(2024, 9, 14), 'amount__998': 7897374.64, 'account_id__998': 5, 'order_id__998': 4096, 'description__999': 'Ad sunt consectetur beatae voluptatum.', 'revenue_date__999': datetime.date(2025, 4, 13), 'amount__999': 10657405.75, 'account_id__999': 3, 'order_id__999': 23}
2025-08-06 14:53:02,632 INFO sqlalchemy.engine.Engine INSERT INTO finance.revenues (account_id, order_id, revenue_date, amount, description) SELECT p0::INTEGER, p1::INTEGER, p2::DATE, p3::NUMERIC(10, 2), p4::TEXT FROM (VALUES (%(account_id__0)s, %(order_id__0)s, %(revenue_date__0)s, %(amount__0)s, %(des ... 108310 characters truncated ... R BY sen_counter RETURNING finance.revenues.revenue_id, finance.revenues.revenue_id AS revenue_id__1
2025-08-06 14:53:02,633 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered)] {'description__0': 'Vel necessitatibus dolor.', 'revenue_date__0': datetime.date(2024, 10, 29), 'amount__0': 10906045.89, 'account_id__0': 5, 'order_id__0': 3111, 'description__1': 'Quae ipsam corporis dolorum.', 'revenue_date__1': datetime.date(2024, 12, 23), 'amount__1': 5122927.93, 'account_id__1': 6, 'order_id__1': 3596, 'description__2': 'Adipisci totam optio ullam dicta quia quisquam est.', 'revenue_date__2': datetime.date(2025, 8, 1), 'amount__2': 8264634.22, 'account_id__2': 4, 'order_id__2': 5164, 'description__3': 'Odio tenetur iure porro voluptate.', 'revenue_date__3': datetime.date(2025, 6, 18), 'amount__3': 3933148.92, 'account_id__3': 3, 'order_id__3': 3474, 'description__4': 'Occaecati voluptatem nulla eaque eveniet voluptates quaerat.', 'revenue_date__4': datetime.date(2024, 9, 12), 'amount__4': 9168987.56, 'account_id__4': 2, 'order_id__4': 43, 'description__5': 'Molestias neque nisi voluptate accusamus vero rerum.', 'revenue_date__5': datetime.date(2025, 4, 16), 'amount__5': 7191105.12, 'account_id__5': 4, 'order_id__5': 935, 'description__6': 'Omnis voluptatibus officia earum veniam iure veniam.', 'revenue_date__6': datetime.date(2024, 10, 30), 'amount__6': 1548470.69, 'account_id__6': 2, 'order_id__6': 725, 'description__7': 'Soluta aperiam provident qui.', 'revenue_date__7': datetime.date(2025, 6, 24), 'amount__7': 9945446.12, 'account_id__7': 4, 'order_id__7': 5741, 'description__8': 'Unde id amet neque aperiam sunt.', 'revenue_date__8': datetime.date(2025, 5, 6), 'amount__8': 11822757.15, 'account_id__8': 6, 'order_id__8': 2588, 'description__9': 'Mollitia nemo amet animi.', 'revenue_date__9': datetime.date(2025, 2, 2), 'amount__9': 3481212.63, 'account_id__9': 4, 'order_id__9': 5868 ... 4900 parameters truncated ... 'description__990': 'Optio libero eveniet quam nisi optio eveniet.', 'revenue_date__990': datetime.date(2025, 3, 2), 'amount__990': 8377920.92, 'account_id__990': 4, 'order_id__990': 167, 'description__991': 'Modi delectus dolorem quos eveniet atque.', 'revenue_date__991': datetime.date(2024, 10, 21), 'amount__991': 792135.08, 'account_id__991': 3, 'order_id__991': 807, 'description__992': 'Expedita maxime nobis esse quod sit.', 'revenue_date__992': datetime.date(2025, 5, 25), 'amount__992': 9855627.71, 'account_id__992': 3, 'order_id__992': 4513, 'description__993': 'A excepturi quod repellendus illo placeat.', 'revenue_date__993': datetime.date(2025, 3, 19), 'amount__993': 7706924.74, 'account_id__993': 3, 'order_id__993': 1756, 'description__994': 'Quasi minima temporibus eum cupiditate nam error excepturi.', 'revenue_date__994': datetime.date(2025, 7, 6), 'amount__994': 9522263.68, 'account_id__994': 1, 'order_id__994': 3828, 'description__995': 'Laborum est assumenda itaque quia id libero.', 'revenue_date__995': datetime.date(2024, 9, 15), 'amount__995': 7998951.49, 'account_id__995': 1, 'order_id__995': 1930, 'description__996': 'Provident quasi quo nam.', 'revenue_date__996': datetime.date(2025, 6, 3), 'amount__996': 9336134.14, 'account_id__996': 4, 'order_id__996': 4716, 'description__997': 'Facilis mollitia molestias repudiandae.', 'revenue_date__997': datetime.date(2024, 10, 16), 'amount__997': 9932728.41, 'account_id__997': 6, 'order_id__997': 1908, 'description__998': 'Quibusdam ratione reiciendis consequatur.', 'revenue_date__998': datetime.date(2025, 2, 20), 'amount__998': 2501667.59, 'account_id__998': 5, 'order_id__998': 3982, 'description__999': 'Iste quidem deleniti dicta.', 'revenue_date__999': datetime.date(2024, 11, 26), 'amount__999': 9549880.66, 'account_id__999': 5, 'order_id__999': 2426}
2025-08-06 14:53:02,690 INFO sqlalchemy.engine.Engine INSERT INTO finance.revenues (account_id, order_id, revenue_date, amount, description) SELECT p0::INTEGER, p1::INTEGER, p2::DATE, p3::NUMERIC(10, 2), p4::TEXT FROM (VALUES (%(account_id__0)s, %(order_id__0)s, %(revenue_date__0)s, %(amount__0)s, %(des ... 108310 characters truncated ... R BY sen_counter RETURNING finance.revenues.revenue_id, finance.revenues.revenue_id AS revenue_id__1
2025-08-06 14:53:02,691 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered)] {'description__0': 'Illum perferendis facilis ducimus soluta.', 'revenue_date__0': datetime.date(2024, 12, 15), 'amount__0': 4535335.47, 'account_id__0': 4, 'order_id__0': 1787, 'description__1': 'Blanditiis molestias dolores vitae tenetur mollitia.', 'revenue_date__1': datetime.date(2025, 4, 3), 'amount__1': 1739123.21, 'account_id__1': 5, 'order_id__1': 2633, 'description__2': 'Rem magni quae corrupti nobis minus reprehenderit.', 'revenue_date__2': datetime.date(2024, 12, 19), 'amount__2': 7017920.33, 'account_id__2': 6, 'order_id__2': 3434, 'description__3': 'Illum asperiores possimus.', 'revenue_date__3': datetime.date(2024, 12, 17), 'amount__3': 1405690.87, 'account_id__3': 3, 'order_id__3': 2322, 'description__4': 'Asperiores occaecati voluptatem nulla officiis voluptatum facere qui.', 'revenue_date__4': datetime.date(2024, 10, 13), 'amount__4': 3265185.14, 'account_id__4': 5, 'order_id__4': 3245, 'description__5': 'Quam non sequi quo atque.', 'revenue_date__5': datetime.date(2025, 6, 3), 'amount__5': 5948892.46, 'account_id__5': 6, 'order_id__5': 3969, 'description__6': 'Ipsam amet dignissimos officia.', 'revenue_date__6': datetime.date(2024, 9, 26), 'amount__6': 10683026.72, 'account_id__6': 4, 'order_id__6': 227, 'description__7': 'Reprehenderit placeat quasi quo nihil sequi.', 'revenue_date__7': datetime.date(2025, 1, 27), 'amount__7': 2272418.49, 'account_id__7': 6, 'order_id__7': 3561, 'description__8': 'Quibusdam dolorum occaecati aspernatur ullam soluta pariatur.', 'revenue_date__8': datetime.date(2025, 1, 28), 'amount__8': 917377.31, 'account_id__8': 1, 'order_id__8': 1181, 'description__9': 'Nihil sunt rerum autem nobis.', 'revenue_date__9': datetime.date(2025, 2, 12), 'amount__9': 2765359.37, 'account_id__9': 5, 'order_id__9': 5185 ... 4900 parameters truncated ... 'description__990': 'Illo doloribus laboriosam provident.', 'revenue_date__990': datetime.date(2025, 7, 10), 'amount__990': 2934558.31, 'account_id__990': 5, 'order_id__990': 768, 'description__991': 'Est suscipit accusantium voluptatem exercitationem iste deleniti.', 'revenue_date__991': datetime.date(2025, 2, 15), 'amount__991': 1416214.71, 'account_id__991': 3, 'order_id__991': 5802, 'description__992': 'Quos consequatur placeat quia.', 'revenue_date__992': datetime.date(2025, 3, 21), 'amount__992': 5003283.44, 'account_id__992': 4, 'order_id__992': 4206, 'description__993': 'Quae aliquam neque aut culpa cumque.', 'revenue_date__993': datetime.date(2025, 7, 30), 'amount__993': 6903439.82, 'account_id__993': 3, 'order_id__993': 4586, 'description__994': 'Tenetur tenetur repudiandae voluptatem.', 'revenue_date__994': datetime.date(2025, 5, 28), 'amount__994': 6781939.89, 'account_id__994': 5, 'order_id__994': 5280, 'description__995': 'Reprehenderit dicta quas ipsam quod.', 'revenue_date__995': datetime.date(2025, 1, 27), 'amount__995': 11755842.04, 'account_id__995': 5, 'order_id__995': 4691, 'description__996': 'Neque corrupti eius error quo amet.', 'revenue_date__996': datetime.date(2024, 9, 15), 'amount__996': 4659641.1, 'account_id__996': 1, 'order_id__996': 4049, 'description__997': 'Ipsum nesciunt nemo error eius.', 'revenue_date__997': datetime.date(2025, 6, 20), 'amount__997': 4861233.51, 'account_id__997': 1, 'order_id__997': 304, 'description__998': 'Ducimus adipisci voluptate nemo aut adipisci odit.', 'revenue_date__998': datetime.date(2024, 8, 28), 'amount__998': 7194303.87, 'account_id__998': 1, 'order_id__998': 5568, 'description__999': 'Iure repellendus magni maiores sed illum.', 'revenue_date__999': datetime.date(2024, 9, 11), 'amount__999': 6015393.95, 'account_id__999': 2, 'order_id__999': 460}
2025-08-06 14:53:02,776 INFO sqlalchemy.engine.Engine COMMIT
✅ 3000 Finance revenues inserted successfully.
2025-08-06 14:53:02,803 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-06 14:53:02,804 INFO sqlalchemy.engine.Engine SELECT finance.accounts.account_id AS finance_accounts_account_id, finance.accounts.account_name AS finance_accounts_account_name, finance.accounts.account_type AS finance_accounts_account_type
FROM finance.accounts
2025-08-06 14:53:02,805 INFO sqlalchemy.engine.Engine [cached since 1.059s ago] {}
2025-08-06 14:53:02,808 INFO sqlalchemy.engine.Engine SELECT sales.orders.order_id AS sales_orders_order_id, sales.orders.customer_id AS sales_orders_customer_id, sales.orders.region_id AS sales_orders_region_id, sales.orders.channel_id AS sales_orders_channel_id, sales.orders.order_date AS sales_orders_order_date, sales.orders.total_amount AS sales_orders_total_amount
FROM sales.orders
2025-08-06 14:53:02,809 INFO sqlalchemy.engine.Engine [cached since 18.11s ago] {}
2025-08-06 14:53:02,905 INFO sqlalchemy.engine.Engine SELECT finance.expenses.expense_id AS finance_expenses_expense_id, finance.expenses.account_id AS finance_expenses_account_id, finance.expenses.product_id AS finance_expenses_product_id, finance.expenses.expense_date AS finance_expenses_expense_date, finance.expenses.amount AS finance_expenses_amount, finance.expenses.description AS finance_expenses_description
FROM finance.expenses
2025-08-06 14:53:02,906 INFO sqlalchemy.engine.Engine [generated in 0.00142s] {}
2025-08-06 14:53:03,081 INFO sqlalchemy.engine.Engine INSERT INTO finance.transactions (account_id, order_id, expense_id, transaction_date, amount, transaction_type) SELECT p0::INTEGER, p1::INTEGER, p2::INTEGER, p3::DATE, p4::NUMERIC(10, 2), p5::VARCHAR FROM (VALUES (%(account_id__0)s, %(order_id__0)s,  ... 138265 characters truncated ... URNING finance.transactions.transaction_id, finance.transactions.transaction_id AS transaction_id__1

# * CREATE PIPLINE FOR FETCH DATA FROM SQL DATABASE

In [2]:
import pandas as pd

# Customer Schema Tables
df_customers = pd.read_sql("SELECT *  FROM customers.customers", engine)
df_addresses = pd.read_sql("SELECT *  FROM customers.addresses", engine)
df_feedback = pd.read_sql("SELECT *  FROM customers.feedback", engine)
df_loyalty_points = pd.read_sql("SELECT *  FROM customers.loyalty_points", engine)
df_preferences = pd.read_sql("SELECT *  FROM customers.preferences", engine)

# Product Schema Tables
df_products = pd.read_sql("SELECT * FROM products.products", engine)
df_categories = pd.read_sql("SELECT * FROM products.categories", engine)
df_discounts = pd.read_sql("SELECT * FROM products.discounts", engine)
df_suppliers = pd.read_sql("SELECT * FROM products.suppliers", engine)
df_reviews = pd.read_sql("SELECT * FROM products.reviews", engine)

# Sales Schema Tables
df_orders = pd.read_sql("SELECT * FROM sales.orders", engine)
df_order_items = pd.read_sql("SELECT * FROM sales.order_items", engine)
df_channels = pd.read_sql("SELECT * FROM sales.channels", engine)
df_regions = pd.read_sql("SELECT * FROM sales.regions", engine)
df_transactions = pd.read_sql("SELECT * FROM sales.transactions", engine)

# Inventory Schema Tables
df_inventory_adj = pd.read_sql("SELECT * FROM inventory.inventory_adjustments", engine)
df_shipments = pd.read_sql("SELECT * FROM inventory.shipments", engine)
df_stock = pd.read_sql("SELECT * FROM inventory.stock", engine)
df_supplies = pd.read_sql("SELECT * FROM inventory.supplies", engine)
df_warehouses = pd.read_sql("SELECT * FROM inventory.warehouses", engine)

# Finance Schema Tables
df_accounts = pd.read_sql("SELECT * FROM finance.accounts", engine)
df_budgets = pd.read_sql("SELECT * FROM finance.budgets", engine)
df_expenses = pd.read_sql("SELECT * FROM finance.expenses", engine)
df_revenues = pd.read_sql("SELECT * FROM finance.revenues", engine)
df_transactions = pd.read_sql("SELECT * FROM finance.transactions", engine)

2025-08-22 12:23:32,994 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-08-22 12:23:32,996 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,008 INFO sqlalchemy.engine.Engine select current_schema()
2025-08-22 12:23:33,010 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,015 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-08-22 12:23:33,016 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,024 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,025 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,026 INFO sqlalchemy.engine.Engine [generated in 0.00258s] {'table_name': 'SELECT *  FROM customers.customers', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,036 INFO sqlalchemy.engine.Engine SELECT *  FROM customers.customers
2025-08-22 12:23:33,037 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,076 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,078 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,079 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,080 INFO sqlalchemy.engine.Engine [cached since 0.05649s ago] {'table_name': 'SELECT *  FROM customers.addresses', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,082 INFO sqlalchemy.engine.Engine SELECT *  FROM customers.addresses
2025-08-22 12:23:33,083 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,110 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,111 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,113 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,114 INFO sqlalchemy.engine.Engine [cached since 0.09051s ago] {'table_name': 'SELECT *  FROM customers.feedback', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,116 INFO sqlalchemy.engine.Engine SELECT *  FROM customers.feedback
2025-08-22 12:23:33,118 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,137 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,139 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,140 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,141 INFO sqlalchemy.engine.Engine [cached since 0.1173s ago] {'table_name': 'SELECT *  FROM customers.loyalty_points', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,143 INFO sqlalchemy.engine.Engine SELECT *  FROM customers.loyalty_points
2025-08-22 12:23:33,144 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,183 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,186 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,187 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,189 INFO sqlalchemy.engine.Engine [cached since 0.1656s ago] {'table_name': 'SELECT *  FROM customers.preferences', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,194 INFO sqlalchemy.engine.Engine SELECT *  FROM customers.preferences
2025-08-22 12:23:33,195 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,226 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,228 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,229 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,230 INFO sqlalchemy.engine.Engine [cached since 0.2063s ago] {'table_name': 'SELECT * FROM products.products', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,232 INFO sqlalchemy.engine.Engine SELECT * FROM products.products
2025-08-22 12:23:33,234 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,260 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,262 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,263 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,265 INFO sqlalchemy.engine.Engine [cached since 0.2412s ago] {'table_name': 'SELECT * FROM products.categories', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,267 INFO sqlalchemy.engine.Engine SELECT * FROM products.categories
2025-08-22 12:23:33,268 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,276 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,277 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,278 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,279 INFO sqlalchemy.engine.Engine [cached since 0.2559s ago] {'table_name': 'SELECT * FROM products.discounts', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,282 INFO sqlalchemy.engine.Engine SELECT * FROM products.discounts
2025-08-22 12:23:33,283 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,323 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,325 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,326 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,327 INFO sqlalchemy.engine.Engine [cached since 0.304s ago] {'table_name': 'SELECT * FROM products.suppliers', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,329 INFO sqlalchemy.engine.Engine SELECT * FROM products.suppliers
2025-08-22 12:23:33,331 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,339 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,341 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,341 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,342 INFO sqlalchemy.engine.Engine [cached since 0.3186s ago] {'table_name': 'SELECT * FROM products.reviews', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,346 INFO sqlalchemy.engine.Engine SELECT * FROM products.reviews
2025-08-22 12:23:33,347 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,392 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,394 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,395 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,396 INFO sqlalchemy.engine.Engine [cached since 0.3724s ago] {'table_name': 'SELECT * FROM sales.orders', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,398 INFO sqlalchemy.engine.Engine SELECT * FROM sales.orders
2025-08-22 12:23:33,399 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,437 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,440 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,441 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,443 INFO sqlalchemy.engine.Engine [cached since 0.4194s ago] {'table_name': 'SELECT * FROM sales.order_items', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,445 INFO sqlalchemy.engine.Engine SELECT * FROM sales.order_items
2025-08-22 12:23:33,446 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,504 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,506 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,507 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,508 INFO sqlalchemy.engine.Engine [cached since 0.4845s ago] {'table_name': 'SELECT * FROM sales.channels', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,510 INFO sqlalchemy.engine.Engine SELECT * FROM sales.channels
2025-08-22 12:23:33,511 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,518 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,520 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,521 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,522 INFO sqlalchemy.engine.Engine [cached since 0.4983s ago] {'table_name': 'SELECT * FROM sales.regions', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,525 INFO sqlalchemy.engine.Engine SELECT * FROM sales.regions
2025-08-22 12:23:33,526 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,531 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,532 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,533 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,534 INFO sqlalchemy.engine.Engine [cached since 0.511s ago] {'table_name': 'SELECT * FROM sales.transactions', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,537 INFO sqlalchemy.engine.Engine SELECT * FROM sales.transactions
2025-08-22 12:23:33,538 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,577 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,578 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,580 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,581 INFO sqlalchemy.engine.Engine [cached since 0.5573s ago] {'table_name': 'SELECT * FROM inventory.inventory_adjustments', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,583 INFO sqlalchemy.engine.Engine SELECT * FROM inventory.inventory_adjustments
2025-08-22 12:23:33,585 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,593 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,595 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,596 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,598 INFO sqlalchemy.engine.Engine [cached since 0.5742s ago] {'table_name': 'SELECT * FROM inventory.shipments', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,600 INFO sqlalchemy.engine.Engine SELECT * FROM inventory.shipments
2025-08-22 12:23:33,601 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,609 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,611 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,611 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,612 INFO sqlalchemy.engine.Engine [cached since 0.5887s ago] {'table_name': 'SELECT * FROM inventory.stock', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,615 INFO sqlalchemy.engine.Engine SELECT * FROM inventory.stock
2025-08-22 12:23:33,616 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,631 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,632 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,633 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-08-22 12:23:33,634 INFO sqlalchemy.engine.Engine [cached since 0.6108s ago] {'table_name': 'SELECT * FROM inventory.supplies', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-08-22 12:23:33,637 INFO sqlalchemy.engine.Engine SELECT * FROM inventory.supplies
2025-08-22 12:23:33,639 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-08-22 12:23:33,647 INFO sqlalchemy.engine.Engine ROLLBACK
2025-08-22 12:23:33,649 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-08-22 12:23:33,650 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace

# Transformation

* Sales Schema

In [4]:
#Sales Schema

# create new column total_price
df_order_items['total_price'] = df_order_items['quantity'] * df_order_items['price']
df_order_items.head(5)

   order_item_id  order_id  product_id  quantity    price  total_price
0              1      5321           6         1   559.25       559.25
1              2      2206         345         2   392.07       784.14
2              3      1638         451         1  1677.23      1677.23
3              4      3795         452         1  1807.69      1807.69
4              5      2475         936         2   734.86      1469.72

In [5]:
df_orders.head(3)

   order_id  customer_id  order_date  total_amount  region_id  channel_id
0         1         1705  2025-01-29       9659.90          3           2
1         2           26  2024-08-10       4140.35          5           1
2         3         2784  2025-04-19       2480.39          4           4

In [6]:
# join tables order,order_items,products

df_sale_full = df_orders.merge(df_order_items, on='order_id') \
                        .merge(df_products, on='product_id') \
                        
df_sale_full.head(2)

,order_id,customer_id,order_date,total_amount,region_id,channel_id,order_item_id,product_id,quantity,price_x,total_price,product_name,price_y,supplier_id,category_id
0,1,1705,2025-01-29,9659.9,3,2,1524,741,5,931.68,4658.40,Chocolate Bar,233.55,7,NaN
1,1,1705,2025-01-29,9659.9,3,2,3332,886,2,105.76,211.52,Baby Detergent,247.38,76,NaN

* Customer Schema

In [7]:
# Clean extra loyalty points rows
df_loyalty_latest = df_loyalty_points.sort_values(by='points', ascending= False)\
                                    .drop_duplicates(subset= 'customer_id')
df_loyalty_latest['customer_id'].value_counts()

customer_id
5379    1
1842    1
1146    1
2641    1
2968    1
       ..
2111    1
3168    1
4436    1
1541    1
256     1
Name: count, Length: 3523, dtype: int64

In [8]:
#Join tables customer,addresses,loyalty_points,prefernces
df_cust_full = df_customers.merge(df_addresses, on='customer_id', how='left') \
                            .merge(df_loyalty_latest, on='customer_id', how='left')
                           
df_cust_full.head(2)

,customer_id,customer_name,email,phone,signup_date,address_id,street,city,state,zipcode,country,loyalty_id,points,last_updated
0,1,Cassandra Parks,brenda68@example.net,9320211302,2024-10-19,1384.0,"86/910, Saha Chowk",Kadapa,Gujarat,485223,india,841.0,487.0,2025-08-06 14:52:26.626187
1,1,Cassandra Parks,brenda68@example.net,9320211302,2024-10-19,2240.0,934\nMadan,Latur,Karnataka,047834,india,841.0,487.0,2025-08-06 14:52:26.626187

In [9]:
# Customer lifetime value 
cust_sale = df_sale_full.groupby('customer_id')['total_price'].sum().reset_index(name='total_spent')

df_cust_profile = df_cust_full.merge(cust_sale, on='customer_id', how='left').fillna(0)

df_cust_profile['customer_id'].value_counts()

customer_id
59      7
2213    7
1315    7
394     6
1556    6
       ..
5987    1
5986    1
15      1
12      1
11      1
Name: count, Length: 6000, dtype: int64

In [10]:
#Loyalty level categorize

df_cust_profile['loyalty_level'] = pd.cut(df_cust_profile['points'],
                                         bins=[-1,500,2000,5000,10000,float('inf')],
                                         labels=['Low', 'Medium', 'High', 'Platinum', 'Diamond'])
df_cust_profile.head(5)

,customer_id,customer_name,email,phone,signup_date,address_id,street,city,state,zipcode,country,loyalty_id,points,last_updated,total_spent,loyalty_level
0,1,Cassandra Parks,brenda68@example.net,9320211302,2024-10-19,1384.0,"86/910, Saha Chowk",Kadapa,Gujarat,485223,india,841.0,487.0,2025-08-06 14:52:26.626187,19162.94,Low
1,1,Cassandra Parks,brenda68@example.net,9320211302,2024-10-19,2240.0,934\nMadan,Latur,Karnataka,047834,india,841.0,487.0,2025-08-06 14:52:26.626187,19162.94,Low
2,2,Ashley Gibbs,tlamb@example.com,8783092417,2025-01-15,0.0,0,0,0,0,0,0.0,0.0,0,2305.96,Low
3,3,Megan Martin,toni92@example.org,6918871373,2024-01-30,0.0,0,0,0,0,0,2551.0,499.0,2025-08-06 14:52:26.650511,8226.04,Low
4,4,Karina Cooper,linda48@example.org,8030159453,2025-07-05,0.0,0,0,0,0,0,1458.0,547.0,2025-08-06 14:52:26.635268,4744.48,Medium

* Product Schema

In [11]:
# Calculate Profit Margin
df_exp = df_expenses.groupby('product_id')['amount'].sum().reset_index(name = 'total_expense')
df_rev = df_order_items.groupby('product_id')['total_price'].sum().reset_index(name = 'total_revenue')
df_profit = df_rev.merge(df_exp, on='product_id', how='left').fillna(0)

df_profit['profit_margin'] = (df_profit['total_revenue'] - df_profit['total_expense']) / df_profit['total_revenue']*100
df_profit['profit_margin'] = df_profit['profit_margin'].round(2)

df_profit.head(3)

   product_id  total_revenue  total_expense  profit_margin
0           1       53855.29            0.0         100.00
1           2       32204.64            0.0         100.00
2           3       28915.03        22012.2          23.87

In [35]:
# Products merge with Category
df_category_wise_prd = df_categories.merge(df_products, on = 'category_id', how ='inner')
df_category_wise_prd.head(3)

,category_id,category_name,description,product_id,product_name,price,supplier_id
0,1,Beverages,Sequi odit nam et laboriosam velit non minima.,1002,Jeera Soda,277.88,68
1,1,Beverages,Sequi odit nam et laboriosam velit non minima.,1005,Buttermilk,428.44,88
2,1,Beverages,Sequi odit nam et laboriosam velit non minima.,1036,Maaza,287.54,171

In [12]:
#Low Sale + Low Rating Product

df_review_agg = df_reviews.groupby('product_id')['rating'].mean().reset_index(name='Avg_rating')
df_review_agg['Avg_rating'] = df_review_agg['Avg_rating'].round(2) 
df_low_perform = df_rev.merge(df_review_agg, on='product_id')\
                        .query('total_revenue < 25000.00 and Avg_rating < 3.0')

df_low_perform.head(3)

    product_id  total_revenue  Avg_rating
13          14       23137.87        2.75
34          38       11982.45        2.00
37          41       14614.45        2.40

* Inventory Schema

In [13]:
# Turnover rate 
df_turnover = df_inventory_adj.groupby('product_id')['adjustment_qty'].apply(lambda x: x.abs().sum()).reset_index(name= 'total_movement')
df_avg_stock = df_stock.groupby('product_id')['quantity'].mean().reset_index(name='avg_inventory')

df_turnover= df_turnover.merge(df_avg_stock, on='product_id', how='inner')
df_turnover['turnover_rate']= df_turnover['total_movement'] / df_turnover['avg_inventory']

df_turnover.head(3)

   product_id  total_movement  avg_inventory  turnover_rate
0           1              11          71.00       0.154930
1           2               3          71.25       0.042105
2           3               4          60.00       0.066667

In [27]:
# Budget VS Expense = Variance

df_budgets['month'] = pd.to_datetime(df_budgets['budget_date']).dt.to_period('M')
df_expenses['month'] = pd.to_datetime(df_expenses['expense_date']).dt.to_period('M')

budget_summary = df_budgets.groupby(['account_id','month'])['amount'].sum().reset_index(name='budgeted_amount')

expense_summary = df_expenses.groupby(['account_id','month'])['amount'].sum().reset_index(name='actual_spent')

df_bgt_v_exp = budget_summary.merge(expense_summary, on=['account_id','month'], how='left').fillna(0)

df_bgt_v_exp['variance'] = df_bgt_v_exp['budgeted_amount'] - df_bgt_v_exp['actual_spent']  # variance on budget vs expense

for col in ['budgeted_amount', 'actual_spent', 'variance']:
    df_bgt_v_exp[col] = df_bgt_v_exp[col].apply(lambda x: f"{x:,.2f}")

df_bgt_v_exp.head(3)

   account_id    month budgeted_amount actual_spent       variance
0           1  2023-06   13,722,739.28    75,008.25  13,647,731.03
1           1  2023-08    9,417,014.89    85,825.68   9,331,189.21
2           1  2023-10   14,105,830.46    83,172.64  14,022,657.82

# Export files in csv

In [36]:
import os

def append_to_csv(dataframe, filename):
    file_exists = os.path.isfile(filename)   # for fetching existing files
    dataframe.to_csv(filename, mode='a', index=False, header=not file_exists)

# Sales
append_to_csv(df_sale_full , 'P-sales_data.csv')

# Customers
append_to_csv(df_cust_profile , 'P-customer_profile.csv')

# Products Profile
append_to_csv(df_profit , 'P-product_profile.csv')

# Category wise product
append_to_csv(df_category_wise_prd , 'P-category_wise_prd.csv')

# Low perform product
append_to_csv(df_low_perform , 'P-low_performing_product.csv')

# Inventory turnover
append_to_csv(df_turnover , 'P-inventory_turnover.csv')

# Budget VS Actual spent
append_to_csv(df_bgt_v_exp , 'P-budget_vs_actual.csv')

# Extra for KPIs
append_to_csv(df_channels , 'P-channels.csv')
append_to_csv(df_regions, 'P-regions.csv')
append_to_csv(df_review_agg , 'P-avg_rating.csv')
append_to_csv(df_loyalty_points , 'P-loyalty_points.csv')

print("Succesfully Export in .csv")

Succesfully Export in .csv

# Temporary Banavel che


import openpyxl
import pandas as pd
# engine uper banavel che te chalase

# table name & sql query
tables = {
    "customers_customers": "SELECT * FROM customers.customers",
    "customers_addresses": "SELECT * FROM customers.addresses",
    "customers_preferences": "SELECT * FROM customers.preferences",
    "customers_loyalty_points": "SELECT * FROM customers.loyalty_points",
    "customers_feedback": "SELECT * FROM customers.feedback",
    "products_products": "SELECT * FROM products.products",
    "products_suppliers": "SELECT * FROM products.suppliers",
    "products_reviews": "SELECT * FROM products.reviews",
    "products_discounts": "SELECT * FROM products.discounts",
    "products_categories": "SELECT * FROM products.categories",
    "sales_orders": "SELECT * FROM sales.orders",
    "sales_order_items": "SELECT * FROM sales.order_items",
    "sales_transactions": "SELECT * FROM sales.transactions",
    "sales_regions": "SELECT * FROM sales.regions",
    "sales_channels": "SELECT * FROM sales.channels",
    "inventory_warehouses": "SELECT * FROM inventory.warehouses",
    "inventory_stock": "SELECT * FROM inventory.stock",
    "inventory_shipments": "SELECT * FROM inventory.shipments",
    "inventory_supplies": "SELECT * FROM inventory.supplies",
    "inventory_inventory_adjustments": "SELECT * FROM inventory.inventory_adjustments",
    "finance_accounts": "SELECT * FROM finance.accounts",
    "finance_expenses": "SELECT * FROM finance.expenses",
    "finance_revenues": "SELECT * FROM finance.revenues",
    "finance_budgets": "SELECT * FROM finance.budgets",
    "finance_transactions": "SELECT * FROM finance.transactions",
}


# Excel file ma data ne export karvo
with pd.ExcelWriter("daily data generate.xlsx", engine= 'openpyxl', mode='w') as writer:
    for sheet_name, query in tables.items():
        df = pd.read_sql(query,engine)
        df.to_excel(writer, sheet_name=sheet_name, index=False)

print("✅ All schema data exported to Excel.")

# SQLALchemy Practice

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import sessionmaker, declarative_base

# Connection
engine = create_engine("postgresql+psycopg2://postgres:pgadmin4@localhost:5432/Retail-shop_Analysis_Project", echo=True)

Session = sessionmaker(bind=engine)
session = Session()

# ✅ Capitalized Base
Base = declarative_base()

# ✅ Capitalized class name
class Sales(Base):
    __tablename__ = 'regions'
    __table_args__ = {'schema': 'sales'}  # ensure schema name is lowercase

    region_id = Column(Integer, primary_key=True)
    region_name = Column(String)


# Insert data
firstrow = Sales(region_name="USA")
secondrow = Sales(region_name="EUROPE")
thirdrow = Sales(region_name="INDIA")
fourthrow = Sales(region_name="EGYPT")
fifthrow = Sales(region_name="JAPAN")
sixthrow = Sales(region_name="CHINA")

session.add_all([firstrow, secondrow,thirdrow,fourthrow,fifthrow,sixthrow])
session.commit()